<div class="poiinfo" id="div_eventdetail" style="z-index:999; position:absolute; left:50%; top:50%; transform:translate(10%, -50%); display :block;">
    <div class="box-top" >
        <span id="eventhead">事件005</span>
        <button type="button" class="box-close" onclick="require('s_Home').closeDetail();"></button>
    </div>
    <div class="boxcont flex" id="eventdetail">
        <div class="box-leftpic fl" style="text-align:center;">
            <img src="Content/images/20190320-1b77e4e7-0a580a000f62-00000008-000090d4.jpg" style="width:3rem;" />
        </div>
        <div class="box-rightinfo fl scrolldiv" style="margin-top:.2rem; font-size:.35rem; line-height:.7rem;">
            <ul>
                <li><span>事件时间：</span><em>2019-03-20 23:10:48</em></li>
                <li><span>事件地点：</span><em>临港大道两港大道以东200米</em></li>
                <li><span>事件类型：</span><em>疑似黑车</em></li>
                <li><span>事件描述：</span><em>临港大道两港大道以东200米周边疑似黑车,车牌号:沪CV6716</em></li>
                <li><span>事件状态：</span><em>待处置</em></li>
            </ul>
        </div>
    </div>
</div>

