<!--事件-海岸线，工地，街面等无人机历史视频﻿-->
<div class="poiinfo" style="left:70%;top:15%;z-index:999;">
    <div class="box-top">
        无人机视频
        <button type="button" class="box-close" onclick="require('s_Home').closeEventDrone()"></button>
    </div>
    <div class="boxcont flex" style="padding: 0px; width: 11.8rem; height: 7rem; overflow: hidden; position: relative;">
        <div class="prism-player video-js" id="eventdronedetail" style="position: absolute; left: -0.4rem; width: calc(100% + .8rem) !important; height: 100% !important;"></div>
    </div>
</div>
<style>
    .video-js {
        width: 11rem;
        height: 7rem;
    }
</style>