<!--事件详情-视频-->
<div id="div_eventdetail" class="sqzz-sj-poi poparrow" style="left:50%; top:50%; transform:translate(10%, -50%);">
    <div class="box-top">
        <span id="eventhead">事件005</span>
        <button type="button" class="box-close" onclick="require('s_Home').closeDetail();"></button>
    </div>
    <div>
        <div id="ul_eventdetail">
            <ul>
                <li><div>接警时间：</div><span>018-02-02 11:20:10</span></li>
                <li><div><img src="Content/images/sqzz-poi-icon1.png">地址：</div><span>临港家园海事小区  2幢 302</span></li>
                <li><div><img src="Content/images/sqzz-poi-icon2.png">事件描述：</div><span>烟感器因为短路停止运行，需相关人员及时到位处理</span></li>
            </ul>
        </div>
        <div class="sqzz-sj-video">
            <div id="eventvideo" class="prism-player " style="width:calc(100% + .8rem) !important; height:100% !important; position:absolute !important; left: -.4rem;"></div>
            <!--<video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="none" width="500" height="280" data-setup="{}"
                   controlsList='nofullscreen nodownload noremote footbar' poster="">
                <source src="http://106.14.152.119:8082/videoGetStream/103.214.87.68:11937/citybrain/31011900011328031010.flv?vhost=cb.alivecdn.com" type="video/flv">
            </video>-->
        </div>
    </div>

