<!--事件楼栋视频-->】
<div class="poiinfo poibox3" id="div_eventbuildvedio" style="z-index:999; position:absolute; left:35%; top:19%;">
    <div class="box-top" onclick="require('s_Home').closeBuildVideo();">
        视频005
        <button type="button" class="box-close"></button>
    </div>
    <div class="boxcont" style="padding: 0px; height: 5rem; overflow: hidden; position: relative;">
        <div id="eventbuildvideo" class="prism-player poibox3-video" style="width:calc(100% + .8rem) !important; height:100% !important; position:absolute !important; left: -.4rem;"></div>
    </div>
</div>