<!--事件楼栋列表-->】
<div class="poiinfo poibox4"id="div_eventbuild" style="z-index:999; position:absolute; left:60%; top:19%;">
    <div class="boxcont">
        <ul class="poibox4-list scrolldiv">
            <li class="poibox4-li" onclick="require('sl_Event').loadBuildTravel();">
                <div class="poibox4-left"><img src="Content/images/person-pic.png"></div>
                <div class="poibox4-right">
                    <div><span>人口类型：</span><em>外来人口</em></div>
                    <div><span>进门时间：</span><em>2019-02-02 12:20:20</em></div>
                    <div><span>出门时间：</span><em>2019-02-02 14:20:20</em></div>
                </div>
            </li>
            <li class="poibox4-li" onclick="require('sl_Event').loadBuildTravel();">
                <div class="poibox4-left"><img src="Content/images/person-pic.png"></div>
                <div class="poibox4-right">
                    <div><span>人口类型：</span><em>外来人口</em></div>
                    <div><span>进门时间：</span><em>2019-02-02 12:20:20</em></div>
                    <div><span>出门时间：</span><em>2019-02-02 14:20:20</em></div>
                </div>
            </li>
            <li class="poibox4-li" onclick="require('sl_Event').loadBuildTravel();">
                <div class="poibox4-left"><img src="Content/images/person-pic.png"></div>
                <div class="poibox4-right">
                    <div><span>人口类型：</span><em>外来人口</em></div>
                    <div><span>进门时间：</span><em>2019-02-02 12:20:20</em></div>
                    <div><span>出门时间：</span><em>2019-02-02 14:20:20</em></div>
                </div>
            </li>
            <li class="poibox4-li" onclick="require('sl_Event').loadBuildTravel();">
                <div class="poibox4-left"><img src="Content/images/person-pic.png"></div>
                <div class="poibox4-right">
                    <div><span>人口类型：</span><em>外来人口</em></div>
                    <div><span>进门时间：</span><em>2019-02-02 12:20:20</em></div>
                    <div><span>出门时间：</span><em>2019-02-02 14:20:20</em></div>
                </div>
            </li>
            <li class="poibox4-li" onclick="require('sl_Event').loadBuildTravel();">
                <div class="poibox4-left"><img src="Content/images/person-pic.png"></div>
                <div class="poibox4-right">
                    <div><span>人口类型：</span><em>外来人口</em></div>
                    <div><span>进门时间：</span><em>2019-02-02 12:20:20</em></div>
                    <div><span>出门时间：</span><em>2019-02-02 14:20:20</em></div>
                </div>
            </li>
            <li class="poibox4-li" onclick="require('sl_Event').loadBuildTravel();">
                <div class="poibox4-left"><img src="Content/images/person-pic.png"></div>
                <div class="poibox4-right">
                    <div><span>人口类型：</span><em>外来人口</em></div>
                    <div><span>进门时间：</span><em>2019-02-02 12:20:20</em></div>
                    <div><span>出门时间：</span><em>2019-02-02 14:20:20</em></div>
                </div>
            </li>
            <li class="poibox4-li" onclick="require('sl_Event').loadBuildTravel();">
                <div class="poibox4-left"><img src="Content/images/person-pic.png"></div>
                <div class="poibox4-right">
                    <div><span>人口类型：</span><em>外来人口</em></div>
                    <div><span>进门时间：</span><em>2019-02-02 12:20:20</em></div>
                    <div><span>出门时间：</span><em>2019-02-02 14:20:20</em></div>
                </div>
            </li>
    </div>
</div>
</div>