



<div class="statistic-box twocol" style="z-index:999;display:block;">
    <button class="statistic-slidebtn"><img src="../Content/images/statistic-arrow.png"></button>
    <div class="statistic-slidediv">
        <div class="pjc-statistic" style="z-index:999;display:block;">
            <dl>
                <dt>现场巡查员数量</dt>
                <dd class="testAerial"><span id="s_xcxcysl">28</span></dd>
                <dt>巡查无人机数量</dt>
                <dd class="testAerial"><span id="s_xcwrjsl">4</span></dd>
                <dt>接入摄像头数量</dt>
                <dd class="testAerial"><span id="s_jrsxtsl">163</span></dd>
            </dl>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".statistic-slidebtn").each(function () {
            var thisClick = false;
            $(this).click(function () {
                thisClick = !thisClick;
                if (thisClick) {
                    $(this).css({ transform: 'rotate(0)' }).siblings(".statistic-slidediv").slideUp();
                } else {
                    $(this).css({ transform: 'rotate(180deg)' }).siblings(".statistic-slidediv").slideDown();
                }
            })
        })
    })

</script>