<div class="center-eventlist sxtcar-identify-center">
  <div class="box-top" >
    <span id="bigpercartitle"></span>
    <button type="button" class="box-close"  onclick="require('s_Echart').closeCenterCarIdentify();"></button>
  </div>
  <div class="sxtcar-identify sxtcar-identify-largebox">
    <div class="sxtcar-identify-pic">
      <div  class="iot-percarpic"  id="iot-percarpic"></div>
    </div>
    <div class="sxtcar-identify-text">
      <div class="iot-percarmess">
        <em></em>
        <span class="testAerial"></span>
      </div>
      <div class="iot-percartime" id="iot-percartime">
        <em></em>
        <span class="testAerial"></span>
      </div>
    </div>
  </div>
</div>
