<div class="center-eventlist" style="z-index:999;">
  <div class="box-top" >
    <span>事件列表</span>
    <button type="button" class="box-close"  onclick="require('s_Echart').closeCenterEventList();"></button>
  </div>
  <div class="center-event-tabbox clearfix" id="center-event-tabsoci">
    <button type="button" class="center-event-tab active">近三天</button>
    <button type="button" class="center-event-tab">近一周</button>
    <button type="button" class="center-event-tab">近一月</button>
  </div>
  <div class="center-event-itembox">
    <ul class="center-event-sociul scrolldiv" id="center-event-sociul" style="padding-right:.2rem;">
        <!--<li class="sjxx-li active flex">
          <span class="sjxx-id"></span>
          <div class="sjxx-div">
            <div class="sjxx-li-line1">
              <span class="sjxx-event">无线门磁出现故障</span>
              <span class="fr sjxx-state">已处理</span>
              <span class="fr sjxx-economizetime">18天13小时</span>
            </div>
            <div class="sjxx-address">
              上海市浦东新区临港大道×××号
              <span class="fr sjxx-time">2019/02/06<span>张宇</span></span>
            </div>
          </div>
        </li>-->
    </ul>
  </div>
</div>
