<div class="poiinfo" id="div_iotdetail" style="z-index:999; position:absolute; min-width:2rem; left:55%; top:20%; ">
    <div class="box-top">
        <span id="iothead">剖面效果图</span>
        <button type="button" class="box-close" onclick="require('sl_Pipeline').closeSectionAnalyst();"></button>
    </div>
    <div class="boxcont clearfix" style="padding:.1rem .4rem;">
        <div class="box-rightinfo fl" style="margin-top:.2rem; font-size:.35rem; line-height:.7rem;">
            <img id="center_image_detail" src=""></img>
        </div>
    </div>

