<div class="center-eventlist" style="z-index:999;">
  <div class="box-top" >
    <span>事件列表</span>
    <button type="button" class="box-close"  onclick="require('s_Echart').closeCenterEventList();"></button>
  </div>
  <div class="center-event-tabbox clearfix">
    <button type="button" class="center-event-tab active">近三天</button>
    <button type="button" class="center-event-tab">近一周</button>
    <button type="button" class="center-event-tab">近一月</button>
  </div>
  <div class="center-event-itembox">
    <ul class="center-event-sociul scrolldiv" id="center-event-sociul" style="padding-right:.2rem;">
      <!--<li class="center-event-li">
        <div class="center-event-li-line1">
          <span class="sjxx-id">1</span>
          <span class="sjxx-event">智能井盖翻开</span>
          <span class="fr sjxx-state">作废</span>
        </div>
        <div class="sjxx-address">
          古棕路438弄57号西边-101号井
          <span class="fr sjxx-time">
            2019-06-25 07:48:27<span>李斌</span>
          </span>
        </div>
      </li>-->
    </ul>
  </div>
</div>
