<div class="center-eventlist sxtcar-identify-center">
  <div class="box-top" >
    <span>车辆信息</span>
    <button type="button" class="box-close"  onclick="require('s_Echart').closeCenterCarIdentify();"></button>
  </div>
  <div class="sxtcar-identify sxtcar-identify-largebox">
    <div class="sxtcar-identify-pic">
      <div  class="iot-percarpic"  id="iot-percarpic"></div>
    </div>
    <div class="sxtcar-identify-text">
      <div class="iot-percarmess">
        <em>车牌号：</em>
        <span class="testAerial">沪A00544</span>
      </div>
      <div class="iot-percartime">
        <em>识别时间：</em>
        <span class="testAerial">02/03 11:20:10</span>
      </div>
    </div>
  </div>
</div>
