<!-- 无人机 -->
<div id="left02_02" class="divbox divbox-lr sqzz-wrjgd-lr2" style="top: 6.2rem;">
    <h3><div>无人机</div></h3>
    <div class="divcont sqzz-wrj-lr1 flex">
        <ul class="sqrk-ul">
            <li class="sqrk-li">
                <div class="item-l"><img src="Content/images/sqzz-lr-11.png"></div>
                <div class="item-r">
                    <div class="item-r-name">巡飞次数（架）</div>
                    <div class="item-r-data testAerial" id="worksite_wrj_flightCounts">16</div>
                </div>
            </li>
            <li class="sqrk-li">
                <div class="item-l"><img src="Content/images/sqzz-lr-12.png"></div>
                <div class="item-r">
                    <div class="item-r-name">发现事件数（个）</div>
                    <div class="item-r-data testAerial" id="worksite_wrj_eventCounts">16</div>
                </div>
            </li>
            <li class="sqrk-li">
                <div class="item-l"><img src="Content/images/sqzz-lr-13.png"></div>
                <div class="item-r">
                    <div class="item-r-name">累计巡飞时间（h）</div>
                    <div class="item-r-data testAerial" id="worksite_wrj_communityCarNums">256</div>
                </div>
            </li>
            <li class="sqrk-li">
                <div class="item-l"><img src="Content/images/sqzz-lr-14.png"></div>
                <div class="item-r">
                    <div class="item-r-name">工地巡查面积（㎡）</div>
                    <div class="item-r-data testAerial" id="worksite_wrj_communityGrade">89</div>
                </div>
            </li>
        </ul>
        <div class="wrj-left">
            <ul class="wrj-ul">
                <li class="wrj-li"></li>
                <li class="wrj-li"></li>
                <li class="wrj-li"></li>
            </ul>
            <button type="button" class="arrowbtn btnleft"></button>
            <button type="button" class="arrowbtn btnright"></button>
        </div>
    </div>
</div>
