<!-- 天气预报 -->
<div id="left02_03" class="divbox divbox-lr sqzz-wrj-lr2 society-ls-worksite3" style="top: 10.8rem;">
    <h3><div>天气预报</div></h3>
    <div class="divcont sqzz-wrj-lr2">
        <div class="sqzz-wrj-lr2-cont" id="worksite_weather">
            <div class="sqzz-wrj-lr2-temp">周六（今天，实时：14℃）</div>
            <div class="tablebox" id="worksite_tablediv">
                <table cellspacing="0" cellpadding="0" class="table sqzz-wrj-lr2-table">
                    <tbody>
                        <tr>
                            <td rowspan="2">
                                <div class=""><img src="Content/images/sqzz-lr-21.png" style="width: 1.1rem"/></div>
                            </td>
                            <td>周日</td>
                            <td>周日</td>
                            <td>周日</td>
                        </tr>
                        <tr>
                            <td><div class=""><img src="Content/images/sqzz-lr-22.png" style="width: .8rem"/></div></td>
                            <td><div class=""><img src="Content/images/sqzz-lr-22.png" style="width: .8rem"/></div></td>
                            <td><div class=""><img src="Content/images/sqzz-lr-22.png" style="width: .8rem"/></div></td>
                        </tr>
                        <tr>
                            <td style="font-size: .4rem;">15-7℃</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>晴转多云</td>
                            <td>15-7℃</td>
                            <td>15-7℃</td>
                            <td>15-7℃</td>
                        </tr>
                        <tr>
                            <td>西南风4-5级</td>
                            <td>晴转多云</td>
                            <td>晴转多云</td>
                            <td>晴转多云</td>
                        </tr>
                        <tr>
                            <td>空气质量：94<span class="sqzz-wrj-lr2-air">良</span></td>
                            <td>西南风4-5级</td>
                            <td>西南风4-5级</td>
                            <td>西南风4-5级</td>
                        </tr>
                    </tbody>
                </table>
                <span class="linear-gradient"></span>
                <span class="linear-gradient linear-gradient2"></span>
            </div>
        </div>
    </div>
</div>

