<!-- 摄像头 -->
<div id="left01_02" class="divbox divbox-ll divbox-sxt2 society-lf2" style="z-index:999;display:block;top:6.8rem;">
    <h3><div>摄像头</div></h3>
    <div class="divcont">
        <ul class="flex sxt-ul" style="padding:0 .5rem; box-sizing:border-box;">
            <li class="sxt-li sxt-li4 flexgrow1" id="sqzz-sxt1">
                <div class="sxt-circlediv flex"></div>
                <div class="sxt-circleinfo">
                    <div class=""><span>总数：</span><em class="testAerial" id="total_camera">638</em></div>
                    <div class=""><span>在线：</span><em class="testAerial"  id="online_camera">354</em></div>
                    <div class=""><span>离线：</span><em class="testAerial" id="outline_camera">234</em></div>
                </div>
            </li>
            <li class="sxt-li sxt-li5 flexgrow1" id="sqzz-sxt2">
                <div class="sxt-circlediv flex"></div>
                <div class="sxt-circleinfo">
                    <div class=""><span>总车辆：</span><em class="testAerial" id="total_car">39307</em></div>
                    <div class=""><span>进港：</span><em class="testAerial" id="total_normalCar">21204</em></div>
                    <div class=""><span>出港：</span><em class="testAerial" id="total_illegalCar">18103</em></div>
                </div>
            </li>
            <!--<li class="sxt-li sxt-li6" id="sqzz-sxt3">
                <div class="sxt-circlediv flex"></div>
                <div class="sxt-circleinfo">
                    <div class=""><span>总人数：</span><em class="testAerial" id="total_person">155</em></div>
                    <div class=""><span>临港站：</span><em class="testAerial" id="normal_person">155</em></div>
                    <div class=""><span>滴水湖站：</span><em class="testAerial" id="doubtable_person">0</em></div>
                </div>
            </li>-->
        </ul>
        <div class="sxt-videobox" style="height:2rem;">
            <ul class="sxt-videoul flex">
                <li class="sxt-videoli"><div class="sxt-videoli-div prism-player" id="Societyleft01_02_video01"></div></li>
                <li class="sxt-videoli"><div class="sxt-videoli-div prism-player" id="Societyleft01_02_video02"></div></li>
            </ul>
            <button type="button" class="arrowbtn btnleft"></button>
            <button type="button" class="arrowbtn btnright"></button>
        </div>
    </div>
</div>
