<!-- 摄像头 -->
<div id="left01_02" class="divbox divbox-ll divbox-sxt2" style="z-index:999;display:block;top:6.8rem;">
    <h3><div>摄像头</div></h3>
    <div class="divcont">
        <ul class="flex sxt-ul">
            <li class="sxt-li sxt-li4" id="sqzz-sxt1">
                <div class="sxt-circlediv flex"></div>
                <div class="sxt-circleinfo">
                    <div class=""><span>总数：</span><em class="testAerial">739</em></div>
                    <div class=""><span>正常：</span><em class="testAerial">739</em></div>
                    <div class=""><span>故障：</span><em class="testAerial">0</em></div>
                </div>
            </li>
            <li class="sxt-li sxt-li5" id="sqzz-sxt2">
                <div class="sxt-circlediv flex"></div>
                <div class="sxt-circleinfo">
                    <div class=""><span>车辆：</span><em class="testAerial">2137</em></div>
                    <div class=""><span>正常：</span><em class="testAerial">2137</em></div>
                    <div class=""><span>违规：</span><em class="testAerial">0</em></div>
                </div>
            </li>
            <li class="sxt-li sxt-li6" id="sqzz-sxt3">
                <div class="sxt-circlediv flex"></div>
                <div class="sxt-circleinfo">
                    <div class=""><span>人员：</span><em class="testAerial">2773</em></div>
                    <div class=""><span>正常：</span><em class="testAerial">2773</em></div>
                    <div class=""><span>可疑人员：</span><em class="testAerial">0</em></div>
                </div>
            </li>
        </ul>
        <div class="sxt-videobox" style="height:2rem;">
            <ul class="sxt-videoul flex">
                <li class="sxt-videoli"><div class="sxt-videoli-div prism-player" id="Societyleft01_02_video01"></div></li>
                <li class="sxt-videoli"><div class="sxt-videoli-div prism-player" id="Societyleft01_02_video02"></div></li>
            </ul>
            <button type="button" class="arrowbtn btnleft"></button>
            <button type="button" class="arrowbtn btnright"></button>
        </div>
    </div>
</div>
