<!-- 摄像头 -->
<div id="left02_03" class="divbox divbox-lr divbox-sxt2" style="top:12rem;z-index:999;display:block;">
    <h3><div>摄像头</div></h3>
    <div class="divcont">
        <ul class="flex sxt-ul">
            <li class="sxt-li sxt-li4" id="iot-sxt1">
                <div class="sxt-circlediv flex"></div>
                <div class="sxt-circleinfo">
                    <div class=""><span>总数：</span><em class="testAerial">468</em></div>
                    <div class=""><span>正常：</span><em class="testAerial">450</em></div>
                    <div class=""><span>故障：</span><em class="testAerial">9</em></div>
                </div>
            </li>
            <li class="sxt-li sxt-li5" id="iot-sxt2">
                <div class="sxt-circlediv flex"></div>
                <div class="sxt-circleinfo">
                    <div class=""><span>车辆：</span><em class="testAerial">442</em></div>
                    <div class=""><span>正常：</span><em class="testAerial">435</em></div>
                    <div class=""><span>违规：</span><em class="testAerial">7</em></div>
                </div>
            </li>
            <li class="sxt-li sxt-li6" id="iot-sxt3">
                <div class="sxt-circlediv flex"></div>
                <div class="sxt-circleinfo">
                    <div class=""><span>人员：</span><em class="testAerial">663</em></div>
                    <div class=""><span>正常：</span><em class="testAerial">663</em></div>
                    <div class=""><span>嫌疑人员：</span><em class="testAerial">0</em></div>
                </div>
            </li>
        </ul>
    </div>
</div>