
<!-- 无人机 -->
<div  id="left02_02" class="divbox divbox-lr divbox-sqzz-hax-lr2 society-ls-seaboard2" style="top: 10rem;z-index:999;display:block;">
    <h3 class="hastabbox">
        <div>无人机</div>
        <div class="charttabbox flex">
            <a class="charttab"><span>最近一个月</span>无人机飞行统计</a>
        </div>
    </h3>
    <div class="divcont sqzz-hax-lr2">
        <div class="sqzz-hax-lr2-div flex">
            <ul class="sqzz-hax-lr2-ul" id="recent-monthflight">
                <li><span>近一个月的飞行长度（千米）</span><em class="testAerial">12,860</em></li>
                <li><span>近一个月的飞行次数(次)</span><em class="testAerial">12,860</em></li>
                <li><span>近一个月的飞行时间（小时）</span><em class="testAerial">30h</em></li>
            </ul>
            <!--<div class="sqzz-hax-lr2-pic">
              <div class="prism-player" id="monthlyRecentFlyVideo" style="height:100%;"></div>
            </div>-->
        </div>
        <ul class="sqzz-hax-lr1-ul flex" id="recent-monthflight-mess">
            <li class="sqzz-hax-lr1-li"><button><div>游客发现数</div><span class="testAerial">6</span></button></li>
            <li class="sqzz-hax-lr1-li"><button><div>游客劝离率</div><span class="testAerial">89%</span></button></li>
            <li class="sqzz-hax-lr1-li"><button><div>垃圾发现数</div><span class="testAerial">10</span></button></li>
            <li class="sqzz-hax-lr1-li"><button><div>帐篷发现数</div><span class="testAerial">10</span></button></li>
        </ul>
    </div>
</div>
