 <!-- 处置主责部门 -->
<div id="left02_03" class="divbox divbox-lr sqzz-wg-lr3" style="top:11.6rem;">
    <h3><div>处置主责部门</div></h3>
    <div class="divcont sqzz-wgsj-lr3 flex">
        <div class="czzzbm-l">
            <div class="chartdiv czzzbm-chartdiv">
                <div class="czzzbm-chart" id="czzzbm-chart"></div>
            </div>
            <div class="czzzbm-legendbox">
                <div class="czzzbm-legend">
                    <div class="czzzbm-legendtitle"><span>TOP15</span><em>(88%)</em></div>
                    <div class="czzzbm-legenddata testAerial">20399</div>
                </div>
                <div class="czzzbm-legend">
                    <div class="czzzbm-legendtitle"><span>其他</span><em>(12%)</em></div>
                    <div class="czzzbm-legenddata testAerial">2747</div>
                </div>
            </div>
        </div>
        <div class="czzzbm-r">
            <ul class="czzzbm-list scrolldiv">
                <li><span>临港集团</span><em>3332</em></li>
                <li><span>芦潮港城管（街镇）</span><em>2559</em></li>
                <li><span>浦东网格中心</span><em>1896</em></li>
                <li><span>城发公司</span><em>1603</em></li>
                <li><span>申港房办（街镇）</span><em>1012</em></li>
                <li><span>芦潮港房办（街镇）</span><em>988</em></li>
                <li><span>申港城管（街镇）</span><em>899</em></li>
                <li><span>港城集团</span><em>776</em></li>
                <li><span>南汇新城非联网单位</span><em>725</em></li>
                <li><span>宏南养护</span><em>711</em></li>
                <li><span>申港社区平台部门</span><em>648</em></li>
                <li><span>芦潮港社区平台部门</span><em>417</em></li>
            </ul>
        </div>
    </div>
</div>