<!-- 无人机 -->
<div id="left02_02" class="divbox divbox-lr society-ls-street2" style="top: 6.2rem;">
    <h3><div>无人机（当月）</div></h3>
    <div class="divcont sqzz-wrj-lr1">
        <div class="sqzz-wrj-div">
            <div class="sqzz-wrj-div-video">
                <ul class="wrj-ul">
                    <li class="wrj-li  prism-player" id="StreetWrjVideo"></li>
                </ul>
            </div>
            <div class="wrj-left">
                <ul class="wrj-ul">
                    <li class="wrj-li  prism-player" id="StreetWrjPic"></li>
                </ul>
            </div>
        </div>
        <ul class="sqzz-hax-lr1-ul flex" id="sqzz-wrj-ul">
            <li class="sqzz-hax-lr1-li" id="jm_drone1"><button><div>巡飞数量（架）</div><span class="testAerial">1</span></button></li>
            <li class="sqzz-hax-lr1-li" id="jm_drone1"><button><div>巡飞次数（次）</div><span class="testAerial">10</span></button></li>
            <li class="sqzz-hax-lr1-li" id="jm_drone1"><button><div>巡飞时间（分钟）</div><span class="testAerial">200</span></button></li>
        </ul>
        <!--<ul class="sqrk-ul" id="sqzz-wrj-ul">
            <li class="sqrk-li" id="jm_drone1">
                <img src="Content/images/sqzz-lr-11.png"/>
                <div class="item-r-name">巡飞数量（架）</div>
                <div class="item-r-data testAerial">16</div>
            </li>
            <li class="sqrk-li" id="jm_drone2">
                <img src="Content/images/sqzz-lr-12.png" />
                <div class="item-r-name">巡飞次数（次）</div>
                <div class="item-r-data testAerial">16</div>
            </li>
            <li class="sqrk-li" id="jm_drone3">
                <img src="Content/images/sqzz-lr-13.png" />
                <div class="item-r-name">巡飞时间（分钟）</div>
                <div class="item-r-data testAerial">16</div>
            </li>
        </ul>-->
    </div>
</div>
