<!-- 无人机 -->
<div id="left02_01" class="divbox divbox-lr divbox-sqzz-hax-lr1 society-ls-seaboard1" style="z-index:999;display:block;">
    <h3 class="hastabbox">
        <div>无人机</div>
        <div class="charttabbox flex">
            <a class="charttab"><span>最近一次</span>飞行统计</a>
        </div>
    </h3>
    <div class="divcont sqzz-hax-lr1">
        <div class="sqzz-hax-lr1-text">近一次的海岸线巡飞长度(km) <span class="testAerial" id="recent-flight">12,860</span></div>
        <div class="sqzz-hax-lr1-div flex">
            <div class="wrj-left">
                <ul class="wrj-ul">
                    <li class="wrj-li prism-player"  id="recentFlyVideo"></li>
                </ul>
                <button type="button" class="arrowbtn btnleft"></button>
                <button type="button" class="arrowbtn btnright"></button>
            </div>
            <div class="sqzz-hax-lr1-pic">
                <div class="prism-player" id="monthlyRecentFlyVideo" style="height:100%;"></div>
            </div>
        </div>
        <ul class="sqzz-hax-lr1-ul flex" id="recent-flight-mess">
            <li class="sqzz-hax-lr1-li"><button><div>游客发现数</div><span class="testAerial">6</span></button></li>
            <li class="sqzz-hax-lr1-li"><button><div>游客劝离率</div><span class="testAerial">89%</span></button></li>
            <li class="sqzz-hax-lr1-li"><button><div>垃圾发现数</div><span class="testAerial">10</span></button></li>
            <li class="sqzz-hax-lr1-li"><button><div>帐篷摊位数</div><span class="testAerial">10</span></button></li>
        </ul>
    </div>
</div>
