<!-- 主责部门 -->
<div id="left01_04" class="divbox divbox-ll clearfix" style="top:16.5rem; margin-bottom: 0;z-index:990;display:block;">
    <h3><div>主责部门</div></h3>
    <div class="divcont scrolldiv"  style="height: 3.7rem; padding-top:0;">
        <table cellpadding="0" cellspacing="0" class="table czdw-table" id="zzbm-table">
            <thead>
                <tr>
                    <td>主责部门</td>
                    <td>核心事件</td>
                    <td>数量</td>
                </tr>
            </thead>
            <tbody id="zzbm-tbody">
                <!--<tr>
                    <td>南汇新城镇</td>
                    <td>乱涂写、乱张贴、乱刻画</td>
                    <td>22,335</td>
                </tr>-->
            </tbody>
        </table>
    </div>
</div>