<!-- 摄像头 -->
<div id="left02_03" class="divbox divbox-lr divbox-sxt2 society-ls-iot3" style="top:12rem;z-index:999;display:block;">
    <h3><div>摄像头</div></h3>
    <div class="divcont">
        <ul class="flex sxt-ul">
            <li class="sxt-li sxt-li4" id="iot-sxt1">
                <div class="sxt-circlediv flex"></div>
                <div class="sxt-circleinfo">
                    <div class=""><span>总数：</span><em class="testAerial">164</em></div>
                    <div class=""><span>正常：</span><em class="testAerial">163</em></div>
                    <div class=""><span>故障：</span><em class="testAerial">1</em></div>
                </div>
            </li>
          <li class="sxtcar-identify flex">
            <div class="sxtcar-identify-pic iot-percarpic" >
              <img src="Content/images/pic-car.png" />
            </div>
            <div class="sxtcar-identify-text">
              <div class="iot-percarmess">
                <em>车牌号：</em>
                <span class="testAerial">沪A00544</span>
              </div>
              <div class="iot-percartime">
                <em>识别时间：</em>
                <span class="testAerial">02/03 11:20:10</span>
              </div>
            </div>
            <button class="sxtcar-identify-zoomin"  onclick="require('s_Echart').loadCenterCarIdentify();"></button>
          </li>
        </ul>
    </div>
</div>