<!-- 社区人口数据 -->
<div class="divbox divbox-lr" style="z-index:999;display:block;">
    <h3><div>社区人口</div></h3>
    <div class="divcont">
        <ul class="sqrk-ul flex">
            <li class="sqrk-li">
                <div class="item-l"><img src="Content/images/sqrk_icon1.png"></div>
                <div class="item-r"><div class="item-r-name">实时总人数</div><div class="item-r-data testAerial">2,773</div></div>
            </li>
            <li class="sqrk-li">
                <div class="item-l"><img src="Content/images/sqrk_icon2.png"></div>
                <div class="item-r"><div class="item-r-name">访客人数</div><div class="item-r-data testAerial">243</div></div>
            </li>
            <li class="sqrk-li">
                <div class="item-l"><img src="Content/images/sqrk_icon3.png"></div>
                <div class="item-r"><div class="item-r-name">常住人数</div><div class="item-r-data testAerial">2,036</div></div>
            </li>
            <li class="sqrk-li">
                <div class="item-l"><img src="Content/images/sqrk_icon3.png"></div>
                <div class="item-r"><div class="item-r-name">当天进出人数</div><div class="item-r-data testAerial">5,528</div></div>
            </li>
        </ul>
    </div>
</div>

<!-- 社区车辆数据 -->
<div class="divbox divbox-lr clearfix" style="top:5.5rem;z-index:999;display:block;">
    <h3>
        <div>社区车辆</div>
    </h3>
    <div class="divcont">
        <div class="chartdiv sqcl-chartdiv"><div class="sqcl-chart" id="sqcl-chart"></div></div>
    </div>
</div>

<!-- 摄像头 -->
<div class="divbox divbox-lr divbox-sxt2" style="top:11.5rem;z-index:999;display:block;">
    <h3><div>摄像头</div></h3>
    <div class="divcont">
        <ul class="flex sxt-ul">
            <li class="sxt-li sxt-li4">
                <div class="sxt-circlediv flex"></div>
                <div class="sxt-circleinfo">
                    <div class=""><span>总数：</span><em class="testAerial">164</em></div>
                    <div class=""><span>正常：</span><em class="testAerial">164</em></div>
                    <div class=""><span>故障：</span><em class="testAerial">0</em></div>
                </div>
            </li>
            <li class="sxt-li sxt-li5">
                <div class="sxt-circlediv flex"></div>
                <div class="sxt-circleinfo">
                    <div class=""><span>车辆：</span><em class="testAerial">12</em></div>
                    <div class=""><span>正常：</span><em class="testAerial">12</em></div>
                    <div class=""><span>违规：</span><em class="testAerial">0</em></div>
                </div>
            </li>
            <li class="sxt-li sxt-li6">
                <div class="sxt-circlediv flex"></div>
                <div class="sxt-circleinfo">
                    <div class=""><span>人员:</span><em class="testAerial">2773</em></div>
                    <div class=""><span>正常：</span><em class="testAerial">2773</em></div>
                    <div class=""><span>嫌疑人员：</span><em class="testAerial">0</em></div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- 社区IOT数据 -->
<div class="divbox divbox-lr" style="top:14.5rem; margin-bottom: 0;z-index:999;display:block;">
    <h3><div>社区IOT</div></h3>
    <div class="divcont">
        <ul class="iot-ul">
            <li class="iot-li">
                <div class="item-l"><div class="item-l-name">无线烟感</div><div class="item-l-data testAerial">480</div></div>
                <div class="item-r">正常：<span class="testAerial">479</span>异常：<span class="testAerial">1</span></div>
            </li>
            <li class="iot-li">
                <div class="item-l"><div class="item-l-name">智能井盖</div><div class="item-l-data testAerial">102</div></div>
                <div class="item-r">正常：<span class="testAerial">102</span>异常：<span class="testAerial">0</span></div>
            </li>
            <li class="iot-li">
                <div class="item-l"><div class="item-l-name">无线门磁</div><div class="item-l-data testAerial">102</div></div>
                <div class="item-r">正常：<span class="testAerial">102</span>异常：<span class="testAerial">0</span></div>
            </li>
        </ul>
    </div>
</div>

<!--{"1":{"normal":479,"total":480,"lost":1},
"2":{"normal":8,"total":8,"lost":0},
"3":{"normal":98,"total":102,"lost":4},
"4":{"normal":0,"total":88,"lost":88},
"5":{"normal":7,"total":8,"lost":1},
"6":{"normal":102,"total":102,"lost":0},
"7":{"normal":6,"total":6,"lost":0}}


1 无线烟感 2 电梯传感器 3 无线门磁 4 微信开门 5 电子围栏 6 井盖传感器 7 地磁-->