
<!-- 无人机 -->
<div  id="left02_02" class="divbox divbox-lr divbox-sqzz-hax-lr2" style="top: 9.5rem;z-index:999;display:block;">
    <h3 class="hastabbox">
        <div>无人机</div>
        <div class="charttabbox flex">
            <a class="charttab"><span>最近一个月</span>无人机飞行统计</a>
        </div>
    </h3>
    <div class="divcont sqzz-hax-lr2">
        <div class="sqzz-hax-lr2-div flex">
            <ul class="sqzz-hax-lr2-ul">
                <li><span>近一个月的飞行长度</span><em class="testAerial">12,860m</em></li>
                <li><span>近一个月的飞行次数</span><em class="testAerial">12,860</em></li>
                <li><span>近一次的海岸线巡飞长度</span><em class="testAerial">12,860</em></li>
            </ul>
            <div class="sqzz-hax-lr2-pic"></div>
        </div>
        <ul class="sqzz-hax-lr1-ul flex">
            <li class="sqzz-hax-lr1-li"><button><div>无人机数（架）</div><span class="testAerial">6</span></button></li>
            <li class="sqzz-hax-lr1-li"><button><div>游客劝离率</div><span class="testAerial">89%</span></button></li>
            <li class="sqzz-hax-lr1-li"><button><div>垃圾发现数</div><span class="testAerial">10</span></button></li>
            <li class="sqzz-hax-lr1-li"><button><div>乱设摊位数</div><span class="testAerial">0</span></button></li>
        </ul>
    </div>
</div>
