<!-- 无人机 -->
<div class="divbox divbox-lr divbox-sqzz-hax-lr1" style="z-index:999;display:block;">
    <h3 class="hastabbox">
        <div>无人机</div>
        <div class="charttabbox flex">
            <a class="charttab"><span>最近一次</span>飞行统计</a>
        </div>
    </h3>
    <div class="divcont sqzz-hax-lr1">
        <div class="sqzz-hax-lr1-text">近一次的海岸线巡飞长度 <span class="testAerial">12,860m</span></div>
        <div class="sqzz-hax-lr1-div flex">
            <div class="sqzz-hax-lr1-pic"></div>
            <div class="wrj-left">
                <ul class="wrj-ul">
                    <li class="wrj-li"></li>
                    <li class="wrj-li"></li>
                    <li class="wrj-li"></li>
                </ul>
                <button type="button" class="arrowbtn btnleft"></button>
                <button type="button" class="arrowbtn btnright"></button>
            </div>
        </div>
        <ul class="sqzz-hax-lr1-ul flex">
            <li class="sqzz-hax-lr1-li"><button><div>无人机数（架）</div><span class="testAerial">6</span></button></li>
            <li class="sqzz-hax-lr1-li"><button><div>游客劝离率</div><span class="testAerial">89%</span></button></li>
            <li class="sqzz-hax-lr1-li"><button><div>垃圾发现数</div><span class="testAerial">10</span></button></li>
            <li class="sqzz-hax-lr1-li"><button><div>乱设摊位数</div><span class="testAerial">0</span></button></li>
        </ul>
    </div>
</div>


<!-- 无人机 -->
<div class="divbox divbox-lr divbox-sqzz-hax-lr2" style="top: 9.5rem;z-index:999;display:block;">
    <h3 class="hastabbox">
        <div>无人机</div>
        <div class="charttabbox flex">
            <a class="charttab"><span>最近一个月</span>无人机飞行统计</a>
        </div>
    </h3>
    <div class="divcont sqzz-hax-lr2">
        <div class="sqzz-hax-lr2-div flex">
            <ul class="sqzz-hax-lr2-ul">
                <li><span>近一个月的飞行长度</span><em class="testAerial">12,860m</em></li>
                <li><span>近一个月的飞行次数</span><em class="testAerial">12,860</em></li>
                <li><span>近一次的海岸线巡飞长度</span><em class="testAerial">12,860</em></li>
            </ul>
            <div class="sqzz-hax-lr2-pic"></div>
        </div>
        <ul class="sqzz-hax-lr1-ul flex">
            <li class="sqzz-hax-lr1-li"><button><div>无人机数（架）</div><span class="testAerial">6</span></button></li>
            <li class="sqzz-hax-lr1-li"><button><div>游客劝离率</div><span class="testAerial">89%</span></button></li>
            <li class="sqzz-hax-lr1-li"><button><div>垃圾发现数</div><span class="testAerial">10</span></button></li>
            <li class="sqzz-hax-lr1-li"><button><div>乱设摊位数</div><span class="testAerial">0</span></button></li>
        </ul>
    </div>
</div>

<!-- 潮汐时间表 -->
<div class="divbox divbox-lr divbox-sqzz-hax-lr3" style="top: 14.8rem;z-index:999;display:block;">
    <h3><div>潮汐时间表</div></h3>
    <div class="divcont sqzz-hax-lr3">
        <div class="sqzz-hax-lr3-ulbox scrolldiv">
            <ul class="sqzz-hax-lr3-ul clearfix">
                <li class="sqzz-hax-lr3-li">
                    <table cellpadding="0" cellspacing="0" class="table">
                        <thead>
                            <tr>
                                <td>日期</td>
                                <td>涨潮</td>
                                <td>退潮</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="2"><div class="sqzz-hax-lr3-date">11</div></td>
                                <td>00:27</td>
                                <td>06:00</td>
                            </tr>
                            <tr>
                                <td>12:27</td>
                                <td>18:00</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li class="sqzz-hax-lr3-li">
                    <table cellpadding="0" cellspacing="0" class="table">
                        <thead>
                            <tr>
                                <td>日期</td>
                                <td>涨潮</td>
                                <td>退潮</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="2"><div class="sqzz-hax-lr3-date">11</div></td>
                                <td>00:27</td>
                                <td>06:00</td>
                            </tr>
                            <tr>
                                <td>12:27</td>
                                <td>18:00</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li class="sqzz-hax-lr3-li">
                    <table cellpadding="0" cellspacing="0" class="table">
                        <thead>
                            <tr>
                                <td>日期</td>
                                <td>涨潮</td>
                                <td>退潮</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="2"><div class="sqzz-hax-lr3-date">11</div></td>
                                <td>00:27</td>
                                <td>06:00</td>
                            </tr>
                            <tr>
                                <td>12:27</td>
                                <td>18:00</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li class="sqzz-hax-lr3-li">
                    <table cellpadding="0" cellspacing="0" class="table">
                        <thead>
                            <tr>
                                <td>日期</td>
                                <td>涨潮</td>
                                <td>退潮</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="2"><div class="sqzz-hax-lr3-date">11</div></td>
                                <td>00:27</td>
                                <td>06:00</td>
                            </tr>
                            <tr>
                                <td>12:27</td>
                                <td>18:00</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li class="sqzz-hax-lr3-li">
                    <table cellpadding="0" cellspacing="0" class="table">
                        <thead>
                            <tr>
                                <td>日期</td>
                                <td>涨潮</td>
                                <td>退潮</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="2"><div class="sqzz-hax-lr3-date">11</div></td>
                                <td>00:27</td>
                                <td>06:00</td>
                            </tr>
                            <tr>
                                <td>12:27</td>
                                <td>18:00</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li class="sqzz-hax-lr3-li">
                    <table cellpadding="0" cellspacing="0" class="table">
                        <thead>
                            <tr>
                                <td>日期</td>
                                <td>涨潮</td>
                                <td>退潮</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="2"><div class="sqzz-hax-lr3-date">11</div></td>
                                <td>00:27</td>
                                <td>06:00</td>
                            </tr>
                            <tr>
                                <td>12:27</td>
                                <td>18:00</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li class="sqzz-hax-lr3-li">
                    <table cellpadding="0" cellspacing="0" class="table">
                        <thead>
                            <tr>
                                <td>日期</td>
                                <td>涨潮</td>
                                <td>退潮</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="2"><div class="sqzz-hax-lr3-date">11</div></td>
                                <td>00:27</td>
                                <td>06:00</td>
                            </tr>
                            <tr>
                                <td>12:27</td>
                                <td>18:00</td>
                            </tr>
                        </tbody>
                    </table>
                </li>

            </ul>
        </div>
    </div>
</div>