<!-- 无人机 -->
<div class="divbox divbox-lr"  style="z-index:999;display:block;">
    <h3><div>无人机</div></h3>
    <div class="divcont sqzz-wrj-lr1 flex">
        <ul class="sqrk-ul">
            <li class="sqrk-li">
                <div class="item-l"><img src="Content/images/sqzz-lr-11.png"></div>
                <div class="item-r"><div class="item-r-name">巡飞数量（架）</div><div class="item-r-data testAerial">3</div></div>
            </li>
            <li class="sqrk-li">
                <div class="item-l"><img src="Content/images/sqzz-lr-12.png"></div>
                <div class="item-r"><div class="item-r-name">飞次数（次）</div><div class="item-r-data testAerial">106</div></div>
            </li>
            <li class="sqrk-li">
                <div class="item-l"><img src="Content/images/sqzz-lr-13.png"></div>
                <div class="item-r"><div class="item-r-name">巡飞消失（小时）</div><div class="item-r-data testAerial">256</div></div>
            </li>
        </ul>
        <div class="wrj-left">
            <ul class="wrj-ul">
                <li class="wrj-li"></li>
                <li class="wrj-li"></li>
                <li class="wrj-li"></li>
            </ul>
            <button type="button" class="arrowbtn btnleft"></button>
            <button type="button" class="arrowbtn btnright"></button>
        </div>
    </div>
</div>

<!-- 天气预报 -->
<div class="divbox divbox-lr" style="top: 7.5rem;z-index:999;display:block;">
    <h3><div>天气预报</div></h3>
    <div class="divcont sqzz-wrj-lr2">
        <div class="sqzz-wrj-lr2-cont">
            <div class="sqzz-wrj-lr2-temp">周六（今天，实时：14℃）</div>
            <div class="tablebox">
                <table cellspacing="0" cellpadding="0" class="table sqzz-wrj-lr2-table" id="drone_weather">
                    <tbody>
                        <tr>
                            <td rowspan="2">
                                <div class=""><img src="Content/images/sqzz-lr-21.png" style="width: 1.1rem"></div>
                            </td>
                            <td>周日</td>
                            <td>周一</td>
                            <td>周二</td>
                        </tr>
                        <tr>
                            <td><div class=""><img src="Content/images/sqzz-lr-22.png" style="width: .8rem"></div></td>
                            <td><div class=""><img src="Content/images/sqzz-lr-22.png" style="width: .8rem"></div></td>
                            <td><div class=""><img src="Content/images/sqzz-lr-22.png" style="width: .8rem"></div></td>
                        </tr>
                        <tr>
                            <td style="font-size: .4rem;">15-7℃</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>晴转多云</td>
                            <td>23-13℃</td>
                            <td>18-8℃</td>
                            <td>11-6℃</td>
                        </tr>
                        <tr>
                            <td>西南风4-5级</td>
                            <td>晴转多云</td>
                            <td>晴转多云</td>
                            <td>晴转多云</td>
                        </tr>
                        <tr>
                            <td>空气质量：94<span class="sqzz-wrj-lr2-air">良</span></td>
                            <td>西南风4-5级</td>
                            <td>西南风4-5级</td>
                            <td>西南风4-5级</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- 巡查员信息 -->
<div class="divbox divbox-lr" style="top: 13.5rem;z-index:999;display:block;">
    <h3><div>巡查员信息</div></h3>
    <div class="divcont sqzz-wrj-lr3">
        <div class="sqzz-wrj-lr3-uldiv scrolldiv">
            <ul class="sqzz-xcyxx-ul">
                <li class="sqzz-xcyxx-li">
                    <div class="item-l"><img src="Content/images/yangyufeng.jpg" style="width: 112px; height: 150px;"></div>
                    <div class="item-r">
                        <ul class="sqzz-xcyxx-liul">
                            <li><div>接单员：</div><span>杨育峰</span></li>
                            <li><div>性&nbsp;别：</div><span>男</span></li>
                            <li><div>职&nbsp;位：</div><span>组长</span></li>
                        </ul>
                    </div>
                </li>
                <li class="sqzz-xcyxx-li">
                    <div class="item-l"><img src="Content/images/zhouyong.jpg" style="width: 112px; height: 150px;"></div>
                    <div class="item-r">
                        <ul class="sqzz-xcyxx-liul">
                            <li><div>接单员：</div><span>周勇</span></li>
                            <li><div>性&nbsp;别：</div><span>男</span></li>
                            <li><div>职&nbsp;位：</div><span>组员</span></li>
                        </ul>
                    </div>
                </li>
                <li class="sqzz-xcyxx-li">
                    <div class="item-l"><img src="Content/images/fanhuanhuan.jpg" style="width: 112px; height: 150px;"></div>
                    <div class="item-r">
                        <ul class="sqzz-xcyxx-liul">
                            <li><div>接单员：</div><span>范欢欢</span></li>
                            <li><div>性&nbsp;别：</div><span>女</span></li>
                            <li><div>职&nbsp;位：</div><span>组长</span></li>
                        </ul>
                    </div>
                </li>
                <li class="sqzz-xcyxx-li">
                    <div class="item-l"><img src="Content/images/wuchunli.jpg" style="width: 112px; height: 150px;"></div>
                    <div class="item-r">
                        <ul class="sqzz-xcyxx-liul">
                            <li><div>接单员：</div><span>吴春丽</span></li>
                            <li><div>性&nbsp;别：</div><span>女</span></li>
                            <li><div>职&nbsp;位：</div><span>组员</span></li>
                        </ul>
                    </div>
                </li>
                <li class="sqzz-xcyxx-li">
                    <div class="item-l"><img src="Content/images/sunxiaohong.jpg" style="width: 112px; height: 150px;"></div>
                    <div class="item-r">
                        <ul class="sqzz-xcyxx-liul">
                            <li><div>接单员：</div><span>孙小红</span></li>
                            <li><div>性&nbsp;别：</div><span>女</span></li>
                            <li><div>职&nbsp;位：</div><span>组长</span></li>
                        </ul>
                    </div>
                </li>
                <li class="sqzz-xcyxx-li">
                    <div class="item-l"><img src="Content/images/kanghongxia.jpg" style="width: 112px; height: 150px;"></div>
                    <div class="item-r">
                        <ul class="sqzz-xcyxx-liul">
                            <li><div>接单员：</div><span>康红霞</span></li>
                            <li><div>性&nbsp;别：</div><span>女</span></li>
                            <li><div>职&nbsp;位：</div><span>组员</span></li>
                        </ul>
                    </div>
                </li>
                <li class="sqzz-xcyxx-li">
                    <div class="item-l"><img src="Content/images/huanghaiyu.jpg" style="width: 112px; height: 150px;"></div>
                    <div class="item-r">
                        <ul class="sqzz-xcyxx-liul">
                            <li><div>接单员：</div><span>黄海玉</span></li>
                            <li><div>性&nbsp;别：</div><span>女</span></li>
                            <li><div>职&nbsp;位：</div><span>组长</span></li>
                        </ul>
                    </div>
                </li>
                <li class="sqzz-xcyxx-li">
                    <div class="item-l"><img src="Content/images/yuanchengxiang.jpg" style="width: 112px; height: 150px;"></div>
                    <div class="item-r">
                        <ul class="sqzz-xcyxx-liul">
                            <li><div>接单员：</div><span>袁承相</span></li>
                            <li><div>性&nbsp;别：</div><span>男</span></li>
                            <li><div>职&nbsp;位：</div><span>组员</span></li>
                        </ul>
                    </div>
                </li>
                <!--
                <li class="sqzz-xcyxx-li">
                    <div class="item-l"><img src="Content/images/sqzz-lr-31.png"></div>
                    <div class="item-r">
                        <ul class="sqzz-xcyxx-liul">
                            <li><div>接单员：</div><span>于文龙</span></li>
                            <li><div>性&nbsp;别：</div><span>男</span></li>
                            <li><div>职&nbsp;位：</div><span>士官</span></li>
                        </ul>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
</div>