 <!-- 处置案件类别（TOP3） -->
<div id="left02_02" class="divbox divbox-lr sqzz-wg-lr2" style="top:8.8rem;">
    <h3><div>处置案件类别（TOP3）</div></h3>
    <div class="divcont sqzz-wgsj-lr2 flex" style="padding-top: 0;">
        <ul class="czajlb-ul flex" id="dealtasktype">
            <li class="czajlb-li">
                <div class="item-l"><div class="czajlb-circlediv flex" data-text="40%"></div></div>
                <div class="item-r"><div class="item-r-name">部件类</div><div class="item-r-data testAerial">10065</div></div>
            </li>
            <li class="czajlb-li">
                <div class="item-l"><div class="czajlb-circlediv flex" data-text="32%"></div></div>
                <div class="item-r"><div class="item-r-name">事件类</div><div class="item-r-data testAerial">8359</div></div>
            </li>
            <li class="czajlb-li">
                <div class="item-l"><div class="czajlb-circlediv flex" data-text="28%"></div></div>
                <div class="item-r"><div class="item-r-name">服务热线类</div><div class="item-r-data testAerial">4722</div></div>
            </li>
        </ul>
    </div>
</div>
