<!-- 社区人口数据 -->
<div id="left02_01" class="divbox divbox-lr" style="z-index:999;display:block;">
    <h3><div>社区人口</div></h3>
    <div class="divcont">
        <ul class="sqrk-ul flex" id="society-person">
            <li class="sqrk-li">
                <div class="item-l"><img src="Content/images/sqrk_icon1.png"></div>
                <div class="item-r"><div class="item-r-name">实时总人数</div><div class="item-r-data testAerial">2,773</div></div>
            </li>
            <li class="sqrk-li">
                <div class="item-l"><img src="Content/images/sqrk_icon2.png"></div>
                <div class="item-r"><div class="item-r-name">访客人数</div><div class="item-r-data testAerial">243</div></div>
            </li>
            <li class="sqrk-li">
                <div class="item-l"><img src="Content/images/sqrk_icon3.png"></div>
                <div class="item-r"><div class="item-r-name">常住人数</div><div class="item-r-data testAerial">2,036</div></div>
            </li>
            <li class="sqrk-li">
                <div class="item-l"><img src="Content/images/sqrk_icon3.png"></div>
                <div class="item-r"><div class="item-r-name">当天进出人数</div><div class="item-r-data testAerial">5,528</div></div>
            </li>
        </ul>
    </div>
</div>