<!-- 天气预报 -->
<div id="left02_02" class="divbox divbox-lr" style="top: 7.5rem;z-index:999;display:block;">
    <h3><div>天气预报</div></h3>
    <div class="divcont sqzz-wrj-lr2">
        <div class="sqzz-wrj-lr2-cont" id="drone_weather">
            <div class="sqzz-wrj-lr2-temp">周五（今天，实时：14℃）</div>
            <div class="tablebox">
                <table cellspacing="0" cellpadding="0" class="table sqzz-wrj-lr2-table">
                    <tbody>
                        <tr>
                            <td rowspan="2">
                                <div class=""><img src="../Content/images/sqzz-lr-21.png" style="width: 1.1rem"></div>
                            </td>
                            <td>周六</td>
                            <td>周日</td>
                            <td>周一</td>
                        </tr>
                        <tr>
                            <td><div class=""><img src="../Content/images/sqzz-lr-22.png" style="width: .8rem"></div></td>
                            <td><div class=""><img src="../Content/images/sqzz-lr-22.png" style="width: .8rem"></div></td>
                            <td><div class=""><img src="../Content/images/sqzz-lr-22.png" style="width: .8rem"></div></td>
                        </tr>
                        <tr>
                            <td style="font-size: .4rem;">15-7℃</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>晴转多云</td>
                            <td>23-13℃</td>
                            <td>18-8℃</td>
                            <td>11-6℃</td>
                        </tr>
                        <tr>
                            <td>东北风<3级</td>
                            <td>晴转多云</td>
                            <td>晴转多云</td>
                            <td>晴转多云</td>
                        </tr>
                        <tr>
                            <td>空气质量：94<span class="sqzz-wrj-lr2-air">良</span></td>
                            <td>东北风<3级</td>
                            <td>北风<3级</td>
                            <td>东北风<3级</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>