<!-- 巡查员信息 -->
<div id="left02_03" class="divbox divbox-lr sqzz-wrj-lr3 society-ls-street3" style="top: 10.5rem;">
    <h3><div>巡查员信息</div></h3>
    <div class="divcont sqzz-wrj-lr3">
        <div class="sqzz-wrj-lr3-uldiv scrolldiv" style="height: auto; max-height: 9.6rem;">
            <ul class="sqzz-xcyxx-ul sqzz-wrjjm-ul clearfix" id="stree-xcy">
                <!--<li class="sqzz-xcyxx-li">
                    <div class="item-l"><img src="Content/images/sqzz-lr-32.png"></div>
                    <div class="item-r">
                        <ul class="sqzz-xcyxx-liul">
                            <li><div>姓名：</div><span>于文龙</span></li>
                            <li><div>单位：</div><span>上海横图实业有限公司</span></li>
                        </ul>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
</div>
