 <!-- 无人机 -->
<div id="left01_03" class="divbox divbox-ll"  style="z-index:999;display:block;top:12rem;">
    <h3><div>无人机</div></h3>
    <div class="divcont flex">
        <div class="wrj-left">
            <ul class="wrj-ul">
                <li class="wrj-li prism-player" id="Societyleft01_03_video01"></li>
            </ul>
            <button type="button" class="arrowbtn btnleft"></button>
            <button type="button" class="arrowbtn btnright"></button>
        </div>
        <button class="chartzoomin" onclick="require('s_Home').loadBigChart('Left_First_02')" style="left:5rem;top:.7rem"></button>
        <div class="wrj-right chartdiv" style="width:46%; height: 2.7rem;">
            <div class="wrj-chart" id="wrj-chart"></div>
            <button class="chartzoomin" onclick="require('s_Home').loadBigChart('Left_First_03')" style="top:-.2rem;"></button>
        </div>
    </div>
</div>