<!-- 巡查员信息 -->
<div id="left02_04" class="divbox divbox-lr sqzz-wrj-lr3" style="top: 16.5rem;">
    <h3><div>巡查员信息</div></h3>
    <div class="divcont sqzz-wrj-lr3">
        <div class="sqzz-wrj-lr3-uldiv scrolldiv" style="max-height: 3.8rem;">
            <ul class="sqzz-xcyxx-ul">
                <li class="sqzz-xcyxx-li">
                    <div class="item-l"><img src="Content/images/sqzz-lr-31.png" style="width:1.4rem !important;"></div>
                    <div class="item-r">
                        <ul class="sqzz-xcyxx-liul">
                            <li><div>接单员：</div><span>于文龙</span></li>
                            <li><div>性&nbsp;别：</div><span>男</span></li>
                            <li><div>职&nbsp;位：</div><span>士官</span></li>
                        </ul>
                    </div>
                </li>
                <li class="sqzz-xcyxx-li">
                    <div class="item-l"><img src="Content/images/sqzz-lr-31.png" style="width:1.4rem !important;"></div>
                    <div class="item-r">
                        <ul class="sqzz-xcyxx-liul">
                            <li><div>接单员：</div><span>于文龙</span></li>
                            <li><div>性&nbsp;别：</div><span>男</span></li>
                            <li><div>职&nbsp;位：</div><span>士官</span></li>
                        </ul>
                    </div>
                </li>
                <li class="sqzz-xcyxx-li">
                    <div class="item-l"><img src="Content/images/sqzz-lr-31.png" style="width:1.4rem !important;"></div>
                    <div class="item-r">
                        <ul class="sqzz-xcyxx-liul">
                            <li><div>接单员：</div><span>于文龙</span></li>
                            <li><div>性&nbsp;别：</div><span>男</span></li>
                            <li><div>职&nbsp;位：</div><span>士官</span></li>
                        </ul>
                    </div>
                </li>
                <li class="sqzz-xcyxx-li">
                    <div class="item-l"><img src="Content/images/sqzz-lr-31.png" style="width:1.4rem !important;"></div>
                    <div class="item-r">
                        <ul class="sqzz-xcyxx-liul">
                            <li><div>接单员：</div><span>于文龙</span></li>
                            <li><div>性&nbsp;别：</div><span>男</span></li>
                            <li><div>职&nbsp;位：</div><span>士官</span></li>
                        </ul>
                    </div>
                </li>
                <li class="sqzz-xcyxx-li">
                    <div class="item-l"><img src="Content/images/sqzz-lr-31.png" style="width:1.4rem !important;"></div>
                    <div class="item-r">
                        <ul class="sqzz-xcyxx-liul">
                            <li><div>接单员：</div><span>于文龙</span></li>
                            <li><div>性&nbsp;别：</div><span>男</span></li>
                            <li><div>职&nbsp;位：</div><span>士官</span></li>
                        </ul>
                    </div>
                </li>
                <li class="sqzz-xcyxx-li">
                    <div class="item-l"><img src="Content/images/sqzz-lr-31.png" style="width:1.4rem !important;"></div>
                    <div class="item-r">
                        <ul class="sqzz-xcyxx-liul">
                            <li><div>接单员：</div><span>于文龙</span></li>
                            <li><div>性&nbsp;别：</div><span>男</span></li>
                            <li><div>职&nbsp;位：</div><span>士官</span></li>
                        </ul>
                    </div>
                </li>
                <li class="sqzz-xcyxx-li">
                    <div class="item-l"><img src="Content/images/sqzz-lr-31.png" style="width:1.4rem !important;"></div>
                    <div class="item-r">
                        <ul class="sqzz-xcyxx-liul">
                            <li><div>接单员：</div><span>于文龙</span></li>
                            <li><div>性&nbsp;别：</div><span>男</span></li>
                            <li><div>职&nbsp;位：</div><span>士官</span></li>
                        </ul>
                    </div>
                </li>
                <li class="sqzz-xcyxx-li">
                    <div class="item-l"><img src="Content/images/sqzz-lr-31.png" style="width:1.4rem !important;"></div>
                    <div class="item-r">
                        <ul class="sqzz-xcyxx-liul">
                            <li><div>接单员：</div><span>于文龙</span></li>
                            <li><div>性&nbsp;别：</div><span>男</span></li>
                            <li><div>职&nbsp;位：</div><span>士官</span></li>
                        </ul>
                    </div>
                </li>
                <li class="sqzz-xcyxx-li">
                    <div class="item-l"><img src="Content/images/sqzz-lr-31.png" style="width:1.4rem !important;"></div>
                    <div class="item-r">
                        <ul class="sqzz-xcyxx-liul">
                            <li><div>接单员：</div><span>于文龙</span></li>
                            <li><div>性&nbsp;别：</div><span>男</span></li>
                            <li><div>职&nbsp;位：</div><span>士官</span></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
