<!-- 事件信息 -->
<div  id="right02_01" class="divbox divbox-rr clearfix society-rs1" style="z-index:999;display:block;">
    <h3><div>事件信息</div></h3>
    <div class="divcont divcont-sj">
        <ul class="sj-list sj-list1 flex">
          <li class="sj-li flexgrow1">
            <div class="sj-div"></div>
            <div class="sj-title">
              <div>主动发现事件个数</div>
              <span class="sj-data testAerial">43212</span>
            </div>
          </li>
          <li class="sj-li flexgrow1" style="margin-right:-.3rem;">
            <div class="sj-div"></div>
            <div class="sj-title">
              <div>主动发现率</div>
              <span class="sj-data testAerial">43.43%</span>
            </div>
          </li>
          <li class="sj-li flexgrow1">
            <div class="sj-div"></div>
            <div class="sj-title">
              <div>主动发现节约时间</div>
              <span class="sj-data testAerial">43212*34</span>
            </div>
          </li>
        </ul>
        <ul class="sj-list sj-list2  flex">
          <li class="sj-li flexgrow1">
            <div class="sj-div"></div>
            <div class="sj-title">
              <div>智能派单事件个数</div>
              <span class="sj-data testAerial">23454</span>
            </div>
          </li>
          <li class="sj-li flexgrow1" style="margin-right:-.3rem;">
            <div class="sj-div"></div>
            <div class="sj-title">
              <div>智能派单率</div>
              <span class="sj-data testAerial">67.54%</span>
            </div>
          </li>
          <li class="sj-li flexgrow1">
            <div class="sj-div"></div>
            <div class="sj-title">
              <div>智能派单节约时间</div>
              <span class="sj-data testAerial">23454*21</span>
            </div>
          </li>
        </ul>

    </div>
</div>