<!-- 事件处理成功数据 -->
<div id="right02_02" class="divbox divbox-rr clearfix society-rs2" style="top:7.5rem;  margin-bottom: 0;z-index:999;display:block;">
    <!--  头部有图标tab时， 添加hastabbox-->
    <h3 class="hastabbox">
        <div  id="sjcg-title">事件处理成功数</div>
        <div class="charttabbox flex" id="sjcg-charttab">
            <a class="charttab active">事件成功数</a>
            <a class="charttab">事件成功率(%)</a>
        </div>
    </h3>
    <div class="divcont sjcg" style="padding-top:0;">
        <div class="chartdiv sjcg-chartdiv">
            <div class="sjcg-chart" id="sjcg-chart"></div>
            <button class="chartzoomin" onclick="require('s_Home').loadBigChart('Right_Second_02')"></button>
        </div>
        <div class="sjcg-status-box">
          <div class="flex sjxx-tab"  id="sjcg-status">
            <button type="button" class="active">已结案: <span class="testAerial">21</span></button>
            <button type="button">待受理: <span class="testAerial">5</span></button>
            <button type="button"> 待督查: <span class="testAerial">5</span></button>
          </div>
          <button type="button" class="center-eventlist-btn" onclick="require('s_Echart').loadCenterEventList();">
            <img src="Content/images/zoomin.png" style="width:.6rem;" />
          </button>
        </div>
        <div class="scrolldiv" id="right_EventList">
            <ul class="scrollitem" id="ul_eventlist">
                <!--<li class="sjxx-li sjxx-li-new active">
                    <div class="sjxx-li-line1">
                        <span class="sjxx-id">001</span>
                        <span class="sjxx-event">无线门磁出现故障</span>
                        <span class="fr sjxx-state colorred">待处理</span>
                    </div>
                    <div class="sjxx-address">
                        上海市浦东新区临港大道×××号
                        <span class="fr sjxx-time">2019/02/06<span>张宇</span></span>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
</div>