<div class="forecast-pernum flex">
    <div class="forecast-pernum-title">未来人流预测</div>
    <div class="forecast-pernum-div">
        <ul class="forecast-pernum-ul">
            <li class="forecast-pernum-item" data-text="15分钟"></li>
            <li class="forecast-pernum-item" data-text="30分钟"></li>
            <li class="forecast-pernum-item" data-text="1小时"></li>
            <li class="forecast-pernum-item active" data-text="6小时"></li>
            <li class="forecast-pernum-item " data-text="明日"></li>
        </ul>
        <span class="forecast-pernum-span">人流总数<em class="testAerial" id="bj_StreamTotal"></em></span>
    </div>
</div>