<!--中间DIV-->
<div class="pjc-statistic twocol short-statistic">
    <dl>
        <dt>园区内人数</dt>
        <dd class="testAerial"><span id="tour_count">2688,503</span></dd>
        <dt>未来30分钟预测人数</dt>
        <dd class="testAerial"><span id="tour_count">188,503</span></dd>
    </dl>
</div>
<div class="pjc-statistic twocol short-statistic" style="top: 8.2rem;">
    <dl>
        <dt>园区内车数</dt>
        <dd class="testAerial"><span id="tour_count">16,885</span></dd>
        <dt>未来30分钟预测车辆</dt>
        <dd class="testAerial"><span id="tour_count">5,5031</span></dd>
    </dl>
</div>
<div class="pjc-statistic twocol short-statistic" style="top: 11rem;">
    <dl>
        <dt>园区周边人数</dt>
        <dd class="testAerial"><span id="tour_count">1484,507</span></dd>
        <dt>未来30分钟预测人数</dt>
        <dd class="testAerial"><span id="tour_count">168,503</span></dd>
    </dl>
</div>
<div class="pjc-statistic twocol short-statistic" style="top: 13rem;">
    <dl>
        <dt>园区周边车辆</dt>
        <dd class="testAerial"><span id="tour_count">16,885</span></dd>
        <dt>未来30分钟预测车辆</dt>
        <dd class="testAerial"><span id="tour_count">45,031</span></dd>
    </dl>
</div>