    <!-- <div class="twocol-top"><img src="../Content/images/twocol-topicon.png"><span>临港</span></div> -->
    <div class="twocol-cont">

        <!-- 游客画像 -->
        <div class="divbox clearfix">
            <h3><div>游客画像</div></h3>
            <div class="divcont">
                <ul class="cgq-ul flex ykhx-ul">
                    <li class="cgq-li">
                        <div class="item-l" data-text="3"></div>
                        <div class="item-r"><div class="item-r-name">男性</div><div class="item-r-data "><span class="testAerial">48</span>%</div></div>
                    </li>
                    <li class="cgq-li">
                        <div class="item-l"></div>
                        <div class="item-r"><div class="item-r-name">女性</div><div class="item-r-data testAerial">42%</div></div>
                    </li>
                    <li class="cgq-li">
                        <div class="item-l"></div>
                        <div class="item-r"><div class="item-r-name">本省</div><div class="item-r-data testAerial">90%</div></div>
                    </li>
                    <li class="cgq-li">
                        <div class="item-l"></div>
                        <div class="item-r"><div class="item-r-name">外省</div><div class="item-r-data testAerial">10%</div></div>
                    </li>
                </ul>
            </div>
        </div>


        <!-- 游客分析 -->
        <div class="divbox clearfix">
            <h3>
                <div>游客分析</div>
            </h3>
            <div class="divcont">
                <div class="chartdiv ykfx-chartdiv"><div class="ykfx-chart" id="ykfx-chart"></div></div>
            </div>
        </div>

        <!-- 游客趋势分析 -->
        <div class="divbox clearfix">
            <h3>
                <div>游客趋势分析</div>
            </h3>
            <div class="divcont">
                <div class="chartdiv ykqsfx-chartdiv"><div class="ykqsfx-chart" id="ykqsfx-chart"></div></div>
            </div>
        </div>

        <!-- 舆情分析 -->
        <div class="divbox clearfix yqfx">
            <h3 class="hastabbox">
                <div>舆情分析</div>
                <div class="charttabbox flex">
                    <a class="charttab">正面<span style="color: #22990a;">(80%)</span></a>
                    <a class="charttab active">中性<span style="color: #2961f1;">(15%)</span></a>
                    <a class="charttab">负面<span style="color: #fb5301;">(5%)</span></a>
                </div>
            </h3>
            <div class="divcont flex">
                <ul class="yqfx-ul">
                    <li class=""><div>舆情信息数</div><span class="testAerial" id="yqxxs">3,658</span></li>
                    <li class=""><div>热门话题数</div><span class="testAerial" id="rmhts">5,650</span></li>
                </ul>
                <div class="chartdiv yqfx-chartdiv"><div class="yqfx-chart" id="yqfx-chart"></div></div>
            </div>
        </div>





    </div>