    <!-- <div class="twocol-top"><span>社区</span><img src="Content/images/twocol-topicon.png"><em>传感器</em></div> -->
    <div class="twocol-cont">


        <!-- 无人机 -->
        <div class="divbox">
            <h3><div>无人机</div></h3>
            <div class="divcont flex">
                <div class="wrj-left" style="width: 54%">
                    <ul class="wrj-ul">
                        <li class="wrj-li"></li>
                        <li class="wrj-li"></li>
                        <li class="wrj-li"></li>
                    </ul>
                    <button type="button" class="arrowbtn btnleft"></button>
                    <button type="button" class="arrowbtn btnright"></button>
                </div>
                <div class="wrj-right chartdiv" style="width: 46%">
                    <div class="wrj-chart" id="wrj-chart"></div>
                </div>
            </div>
        </div>

        <!-- 摄像头 -->
        <div class="divbox">
            <h3><div>在线摄像头</div></h3>
            <div class="divcont wrj-l2  dkl-sxt">
                <ul class="flex" style=" padding .2rem 0;">
                    <li class="wrj-l2-li wrj-l2-li1">
                        <button class=""><div class="testAerial">492</div><span>总数</span></button>
                    </li>
                    <li class="wrj-l2-li flex">
                        <!-- 这里负的多少秒表示百分之多少  100% 需要设置 animation-delay: -99.999s 左右-->

                        <div class="piebox"><div class="pie testAerial" style="animation-delay: -80s" data-text="180"></div></div>
                        <div class="piebox-right">
                            <span> 球机</span>
                            <div><span class="testAerial">120</span>台</div>
                        </div>
                    </li>
                    <li class="wrj-l2-li flex">
                        <div class="piebox"><div class="pie testAerial" style="animation-delay: -10s" data-text="20"></div></div>
                        <div class="piebox-right">
                            <span> 枪击</span>
                            <div><span class="testAerial">371</span>台</div>
                        </div>
                    </li>
                    <li class="wrj-l2-li flex">
                        <div class="piebox"><div class="pie testAerial" style="animation-delay: -10s" data-text="20"></div></div>
                        <div class="piebox-right">
                            <span> 鹰眼</span>
                            <div><span class="testAerial">1</span>台</div>
                        </div>
                    </li>
                </ul>
                <div class="sxt-videobox dkl-r-sxt-videobox">
                    <ul class="sxt-videoul flex dkl-r-sxtul">
                        <li class="sxt-videoli prism-player" id="left02_video01"></li>
                        <li class="sxt-videoli prism-player" id="left02_video02"></li>
                        <li class="sxt-videoli prism-player" id="left02_video03"></li>
                    </ul>
                    <button type="button" class="arrowbtn btnleft"></button>
                    <button type="button" class="arrowbtn btnright"></button>
                </div>

            </div>
        </div>

        <!-- 交通信息 -->
        <div class="divbox clearfix dkl-jtxx">
            <h3><div>交通信息</div></h3>
            <div class="divcont">
                <ul class="cgq-ul flex dkl-jtxxul">
                    <li class="cgq-li">
                        <div class="item-l"></div>
                        <div class="item-r"><div class="item-r-name">地铁（人）</div><div class="item-r-data testAerial" id="subway">22,680</div></div>
                    </li>
                    <li class="cgq-li">
                        <div class="item-l"></div>
                        <div class="item-r"><div class="item-r-name">进出港车辆（辆）</div><div class="item-r-data testAerial" id="car">16,890</div></div>
                    </li>
                    <li class="cgq-li">
                        <div class="item-l"></div>
                        <div class="item-r"><div class="item-r-name">停车场（辆）</div><div class="item-r-data testAerial" id="park">8,521</div></div>
                    </li>
                </ul>

                <div class="chartdiv jtxx-chartdiv">
                    <div class="jtxx-chart" id="jtxx-chart"></div>
                    <div class="jtxx-tabbox">
                        <a class="jtxx-tab active">近一周</a>
                        <a class="jtxx-tab">近一年</a>
                    </div>
                </div>

            </div>
        </div>




        <!-- twocol-cont -->
    </div>