    <div class="twocol-cont">

        <!-- 园区预警指标 -->
        <div class="divbox clearfix" style="margin-bottom: 1.5rem;">
            <h3><div>园区预警指标</div></h3>
            <div class="divcont">
                <div class="yqyj-levelbox clearfix" style="overflow:hidden; border-radius:.3rem;">
                    <img src="../Content/images/yqyj.png" />
                    <div class="yqyj-levelbg"></div>
                </div>
                <div class="yqyj-levelbox clearfix" style="overflow:visible;">
                    <span class="yqyj-level yqyj-level1">正常</span>
                    <span class="yqyj-level yqyj-level2">三级预警</span>
                    <span class="yqyj-level yqyj-level3">二级预警</span>
                    <span class="yqyj-level yqyj-level4">一级预警</span>
                </div>
            </div>
        </div>

        <!-- 园区事件统计 -->
        <div class="divbox clearfix yqsj">
            <h3><div>园区事件统计</div></h3>
            <div class="divcont">
                <div class="jtxx-tabbox">
                    <a class="jtxx-tab active">类型</a>
                    <a class="jtxx-tab">区域</a>
                </div>
                <div class="yqsj-tabitemdiv">
                    <ul class="yqsj-tabitemul flex">
                        <li class="yqsj-tabitem">
                            <div class="flex yqsj-div1">
                                <div class="">事件类型：<span class="testAerial">5</span>类</div>
                                <div class="">事件个数：<span class="testAerial">20</span>个</div>
                            </div>
                            <div class="scrolldiv yqsj-listbox">
                                <ul class="yqsj-list">
                                    <li class="yqsj-item active">
                                        <div class="yqsj-itemdiv"><span>001</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                        <ol class="yqsj-itemol">
                                            <li class="active">R2路平均分布5号（鹰眼立杆）</li>
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                        </ol>
                                    </li>
                                    <li class="yqsj-item">
                                        <div class="yqsj-itemdiv"><span>002</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                        <ol class="yqsj-itemol">
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                        </ol>
                                    </li>
                                    <li class="yqsj-item">
                                        <div class="yqsj-itemdiv"><span>003</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                        <ol class="yqsj-itemol">
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                        </ol>
                                    </li>
                                    <li class="yqsj-item">
                                        <div class="yqsj-itemdiv"><span>004</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                        <ol class="yqsj-itemol">
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                        </ol>
                                    </li>
                                    <li class="yqsj-item">
                                        <div class="yqsj-itemdiv"><span>005</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                        <ol class="yqsj-itemol">
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                        </ol>
                                    </li>
                                    <li class="yqsj-item">
                                        <div class="yqsj-itemdiv"><span>006</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                        <ol class="yqsj-itemol">
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                        </ol>
                                    </li>
                                    <li class="yqsj-item">
                                        <div class="yqsj-itemdiv"><span>007</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                        <ol class="yqsj-itemol">
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                        </ol>
                                    </li>
                                    <li class="yqsj-item">
                                        <div class="yqsj-itemdiv"><span>008</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                        <ol class="yqsj-itemol">
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                        </ol>
                                    </li>
                                    <li class="yqsj-item">
                                        <div class="yqsj-itemdiv"><span>009</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                        <ol class="yqsj-itemol">
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                        </ol>
                                    </li>
                                    <li class="yqsj-item">
                                        <div class="yqsj-itemdiv"><span>010</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                        <ol class="yqsj-itemol">
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                        </ol>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="yqsj-tabitem">
                            <div class="flex yqsj-div1">
                                <div class="">事件类型：<span class="testAerial">5</span>类</div>
                                <div class="">事件个数：<span class="testAerial">20</span>个</div>
                            </div>
                            <div class="scrolldiv yqsj-listbox">
                                <ul class="yqsj-list">
                                    <li class="yqsj-item active">
                                        <div class="yqsj-itemdiv"><span>001</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                        <ol class="yqsj-itemol">
                                            <li class="active">R2路平均分布5号（鹰眼立杆）</li>
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                        </ol>
                                    </li>
                                    <li class="yqsj-item">
                                        <div class="yqsj-itemdiv"><span>002</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                        <ol class="yqsj-itemol">
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                        </ol>
                                    </li>
                                    <li class="yqsj-item">
                                        <div class="yqsj-itemdiv"><span>003</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                        <ol class="yqsj-itemol">
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                        </ol>
                                    </li>
                                    <li class="yqsj-item">
                                        <div class="yqsj-itemdiv"><span>004</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                        <ol class="yqsj-itemol">
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                        </ol>
                                    </li>
                                    <li class="yqsj-item">
                                        <div class="yqsj-itemdiv"><span>005</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                        <ol class="yqsj-itemol">
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                        </ol>
                                    </li>
                                    <li class="yqsj-item">
                                        <div class="yqsj-itemdiv"><span>006</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                        <ol class="yqsj-itemol">
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                        </ol>
                                    </li>
                                    <li class="yqsj-item">
                                        <div class="yqsj-itemdiv"><span>007</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                        <ol class="yqsj-itemol">
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                        </ol>
                                    </li>
                                    <li class="yqsj-item">
                                        <div class="yqsj-itemdiv"><span>008</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                        <ol class="yqsj-itemol">
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                        </ol>
                                    </li>
                                    <li class="yqsj-item">
                                        <div class="yqsj-itemdiv"><span>009</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                        <ol class="yqsj-itemol">
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                        </ol>
                                    </li>
                                    <li class="yqsj-item">
                                        <div class="yqsj-itemdiv"><span>010</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                        <ol class="yqsj-itemol">
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                            <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                        </ol>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <!-- 园区事件列表 -->
        <div class="divbox clearfix yqsjlb">
            <h3><div>园区事件列表</div></h3>
            <div class="divcont scrolldiv"style="padding-top:.2rem;">
                <ul class="yqsjlb-list" id="tour_cameralist">
                    <li class="yqsjlb-item clearfix">
                        <div class="item-l"></div>
                        <div class="item-r">
                            <div>拍照时间：2018-02-02 11:20:10</div>
                            <div>处理状态：正在处理<span>处置人：李立群</span></div>
                            <div>事件详情：园区××路段发生拥堵情况，需要立即进行车辆疏散引导,需增援。</div>
                        </div>
                    </li>
                    <li class="yqsjlb-item clearfix">
                        <div class="item-l"></div>
                        <div class="item-r">
                            <div>拍照时间：2018-02-02 11:20:10</div>
                            <div>处理状态：正在处理<span>处置人：李立群</span></div>
                            <div>事件详情：园区××路段发生拥堵情况，需要立即进行车辆疏散引导,需增援。</div>
                        </div>
                    </li>
                    <li class="yqsjlb-item clearfix">
                        <div class="item-l"></div>
                        <div class="item-r">
                            <div>拍照时间：2018-02-02 11:20:10</div>
                            <div>处理状态：正在处理<span>处置人：李立群</span></div>
                            <div>事件详情：园区××路段发生拥堵情况，需要立即进行车辆疏散引导,需增援。</div>
                        </div>
                    </li>
                    <li class="yqsjlb-item clearfix">
                        <div class="item-l"></div>
                        <div class="item-r">
                            <div>拍照时间：2018-02-02 11:20:10</div>
                            <div>处理状态：正在处理<span>处置人：李立群</span></div>
                            <div>事件详情：园区××路段发生拥堵情况，需要立即进行车辆疏散引导,需增援。</div>
                        </div>
                    </li>
                    <li class="yqsjlb-item clearfix">
                        <div class="item-l"></div>
                        <div class="item-r">
                            <div>拍照时间：2018-02-02 11:20:10</div>
                            <div>处理状态：正在处理<span>处置人：李立群</span></div>
                            <div>事件详情：园区××路段发生拥堵情况，需要立即进行车辆疏散引导,需增援。</div>
                        </div>
                    </li>
                    <li class="yqsjlb-item clearfix">
                        <div class="item-l"></div>
                        <div class="item-r">
                            <div>拍照时间：2018-02-02 11:20:10</div>
                            <div>处理状态：正在处理<span>处置人：李立群</span></div>
                            <div>事件详情：园区××路段发生拥堵情况，需要立即进行车辆疏散引导,需增援。</div>
                        </div>
                    </li>
                    <li class="yqsjlb-item clearfix">
                        <div class="item-l"></div>
                        <div class="item-r">
                            <div>拍照时间：2018-02-02 11:20:10</div>
                            <div>处理状态：正在处理<span>处置人：李立群</span></div>
                            <div>事件详情：园区××路段发生拥堵情况，需要立即进行车辆疏散引导,需增援。</div>
                        </div>
                    </li>
                    <li class="yqsjlb-item clearfix">
                        <div class="item-l"></div>
                        <div class="item-r">
                            <div>拍照时间：2018-02-02 11:20:10</div>
                            <div>处理状态：正在处理<span>处置人：李立群</span></div>
                            <div>事件详情：园区××路段发生拥堵情况，需要立即进行车辆疏散引导,需增援。</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>