    <div class="twocol-cont">

        <!-- 人员车辆统计 -->
        <div class="divbox clearfix rycltj">
            <h3><div>人员车辆统计</div></h3>
            <div class="divcont">
                <div class="rycltj-tabbox flex">
                    <button class="active">入园人数统计</button>
                    <button class="">地铁人数统计</button>
                    <button class="">进出临港车辆统计</button>
                </div>
                <div class="jtxx-tabbox flex" id="rq">
                    <a class="jtxx-tab active">2月2日</a>
                    <a class="jtxx-tab active">2月3日</a>
                    <a class="jtxx-tab">2月4日</a>
                    <a class="jtxx-tab">2月5日</a>
                    <a class="jtxx-tab">2月6日</a>
                    <a class="jtxx-tab">2月7日</a>
                    <a class="jtxx-tab">2月8日</a>
                </div>
                <div class="chartdiv rycltj-chartdiv"><div class="rycltj-chart" id="rycltj-chart"></div></div>

            </div>
        </div>

        <!-- 停车场使用情况 -->
        <div class="divbox clearfix tccsyqk">
            <h3><div>人员车辆统计</div></h3>
            <div class="divcont">
                <div class="chartdiv tccsyqk-chartdiv"><div class="tccsyqk-chart" id="tccsyqk-chart"></div></div>
            </div>
        </div>

        <!-- 近5日事件统计 -->
        <div class="divbox clearfix jwrsjtj">
            <h3><div>近5日事件统计</div></h3>
            <div class="divcont">
                <div class="chartdiv jwrsjtj-chartdiv"><div class="jwrsjtj-chart" id="jwrsjtj-chart"></div></div>
            </div>
        </div>




    </div>