/* 
 * My97 DatePicker 4.7 Skin:whyGreen
 */ 

/*@media screen and (max-width:7680px){ 
	.WdateDiv *{font-size:9pt;}
}
@media screen and (max-width:3840px){ 
	.WdateDiv *{font-size:9pt;}
}
@media screen and (max-width:1920px){ 
	.WdateDiv *{font-size:9pt;}

}*/

.WdateDiv{
	width:8.5rem;
	background-color:#fff;
	border:#C5E1E4 1px solid;
	padding:2px;
}

.WdateDiv2{
	width:17rem;
}
.WdateDiv *{font-size:0.57rem;}

.WdateDiv .NavImg a{
	cursor:pointer;
	display:block;
	width:0.75rem;
	height:0.75rem;
	margin-top:1px;
}

.WdateDiv .NavImgll a{
	float:left;
	background:url(img.gif) no-repeat;
}
.WdateDiv .NavImgl a{
	float:left;
	background:url(img.gif) no-repeat -0.75rem 0px;
}
.WdateDiv .NavImgr a{
	float:right;
	background:url(img.gif) no-repeat -1.5rem 0px;
}
.WdateDiv .NavImgrr a{
	float:right;
	background:url(img.gif) no-repeat -2.27rem 0px;
}

.WdateDiv #dpTitle{
	height:1.1rem;
	padding:1px;
	border:#c5d9e8 1px solid;
	background:url(bg.jpg);
	margin-bottom:2px;
}

.WdateDiv .yminput{
	margin-top:2px;
	text-align:center;
	border:0px;
	height:0.94rem;
	width:2.37rem;
	color:#034c50;
	background-color:transparent;
	cursor:pointer;
}

.WdateDiv .yminputfocus{
	margin-top:2px;
	text-align:center;
	border:#939393 1px solid;
	font-weight:bold;
	color:#034c50;	
	height:0.94rem;
	width:2.37rem;
}

.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;
	border:#A3C6C8 1px solid;
	display:none;
}

.WdateDiv .menu{
	cursor:pointer;
	background-color:#fff;
	color:#11777C;
}

.WdateDiv .menuOn{
	cursor:pointer;
	background-color:#BEEBEE;
}

.WdateDiv .invalidMenu{
	color:#aaa;
}

.WdateDiv .YMenu{
	margin-top:0.94rem;
}

.WdateDiv .MMenu{
	margin-top:0.94rem;
	*width:2.94rem;
}

.WdateDiv .hhMenu{
	margin-top:-4.26rem; 
	margin-left:1.23rem;
}

.WdateDiv .mmMenu{
	margin-top:-2.18rem; 
	margin-left:1.23rem;
}

.WdateDiv .ssMenu{
	margin-top:-1.1rem; 
	margin-left:1.23rem;
}

 .WdateDiv .Wweek {
 	text-align:center;
	background:#DAF3F5;
	border-right:#BDEBEE 1px solid;
 }

.WdateDiv .MTitle{
	color:#13777e;
	background-color:#bdebee;
}
.WdateDiv .WdayTable2{
	border-collapse:collapse;
	border:#BEE9F0 1px solid;
}
.WdateDiv .WdayTable2 table{
	border:0;
}

.WdateDiv .WdayTable{
	line-height:0.94rem;	
	color:#13777e;
	background-color:#edfbfb;
	border:#BEE9F0 1px solid;
}
.WdateDiv .WdayTable td{
	text-align:center;
}

.WdateDiv .Wday{
	cursor:pointer;
}

.WdateDiv .WdayOn{
	cursor:pointer;
	background-color:#74d2d9 ;
}

.WdateDiv .Wwday{
	cursor:pointer;
	color:#ab1e1e;
}

.WdateDiv .WwdayOn{
	cursor:pointer;
	background-color:#74d2d9;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color:blue;
}
.WdateDiv .Wselday{
	background-color:#A7E2E7;
}
.WdateDiv .WspecialDay{
	background-color:#66F4DF;
}

.WdateDiv .WotherDay{ 
	cursor:pointer;
	color:#0099CC;	
}

.WdateDiv .WotherDayOn{ 
	cursor:pointer;
	background-color:#C0EBEF;	
}

.WdateDiv .WinvalidDay{
	color:#aaa;
}

.WdateDiv #dpTime{
	float:left;
	margin-top:3px;
	margin-right:1.42rem;
}

.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
	color:#497F7F;
}

.WdateDiv #dpTime input{
	height:0.94rem;
	width:0.85rem;
	text-align:center;
	color:#333;
	border:#61CAD0 1px solid;	
}

.WdateDiv #dpTime .tB{
	border-right:0px;
}

.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime .tm{
	width:0.33rem;
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime #dpTimeUp{
	height:0.47rem;
	width:0.61rem;
	border:0px;
	background:url(img.gif) no-repeat -1.5rem -0.75rem;
}

.WdateDiv #dpTime #dpTimeDown{
	height:0.47rem;
	width:0.61rem;
	border:0px;
	background:url(img.gif) no-repeat -2.27rem -0.75rem;
}

 .WdateDiv #dpQS {
 	float:left;
	margin-right:3px;
	margin-top:3px;
	background:url(img.gif) no-repeat 0px -0.75rem;
	width:0.94rem;
	height:0.94rem;
	cursor:pointer;
 }
.WdateDiv #dpControl {
	text-align:right;
	margin-top:3px;
}
.WdateDiv .dpButton{ 
	height:0.94rem;
	width:2.13rem;
	margin-top:2px;
	border:#38B1B9 1px solid;
	background-color:#CFEBEE;
	color:#08575B;
}