<!-- 企业top10列表 -->
<div id="left01_02" class="divbox divbox-ll clearfix" style="top: 12.5rem;z-index:999;display:block;">
    <h3 class="hastabbox">
        <div id="qytop10-title">企业top10列表</div>
        <div class="charttabbox flex qytop10-tab"  style="line-height:.4rem;">
            <a class="charttab">对外投资(万)</a>
            <a class="charttab">注册资本(万)</a>
        </div>
    </h3>
    <div class="divcont qytop10-cont" style="padding-top: .2rem;">
        <div class="qytop10-tablebox">
            <table cellpadding="0" cellspacing="0" class="table qytop10-table" id="topten-table">
                <tbody>
                    <tr onclick="require('gl_TopCompany').loadTopCompanyPOI();">
                        <td>TOP1</td>
                        <td><div>上海金雕投资有限公司</div></td>
                        <td>
                            <div class="qytop10-barbox">
                                <div class="qytop10-bar1"><span>0</span></div>
                                <div class="qytop10-bar2"><span>0</span></div>
                            </div>
                        </td>
                    </tr>
                    <tr onclick="require('gl_TopCompany').loadTopCompanyPOI();">
                        <td>TOP2</td>
                        <td><div>上海钜澎资产管理有限公司</div></td>
                        <td>
                            <div class="qytop10-barbox">
                                <div class="qytop10-bar1"><span>0</span></div>
                                <div class="qytop10-bar2"><span>0</span></div>
                            </div>
                        </td>
                    </tr>
                    <tr onclick="require('gl_TopCompany').loadTopCompanyPOI();">
                        <td>TOP3</td>
                        <td><div>上海力言投资有限公司</div></td>
                        <td>
                            <div class="qytop10-barbox">
                                <div class="qytop10-bar1"><span>0</span></div>
                                <div class="qytop10-bar2"><span>0</span></div>
                            </div>
                        </td>
                    </tr>
                    <tr onclick="require('gl_TopCompany').loadTopCompanyPOI();">
                        <td>TOP4</td>
                        <td><div>永柏(上海)投资控股有限公司</div></td>
                        <td>
                            <div class="qytop10-barbox">
                                <div class="qytop10-bar1"><span>0</span></div>
                                <div class="qytop10-bar2"><span>0</span></div>
                            </div>
                        </td>
                    </tr>
                    <tr onclick="require('gl_TopCompany').loadTopCompanyPOI();">
                        <td>TOP5</td>
                        <td><div>上海小村资产管理有限公司</div></td>
                        <td>
                            <div class="qytop10-barbox">
                                <div class="qytop10-bar1"><span>0</span></div>
                                <div class="qytop10-bar2"><span>0</span></div>
                            </div>
                        </td>
                    </tr>
                    <tr onclick="require('gl_TopCompany').loadTopCompanyPOI();">
                        <td>TOP6</td>
                        <td><div>一村资本有限公司</div></td>
                        <td>
                            <div class="qytop10-barbox">
                                <div class="qytop10-bar1"><span>0</span></div>
                                <div class="qytop10-bar2"><span>0</span></div>
                            </div>
                        </td>
                    </tr>
                    <tr onclick="require('gl_TopCompany').loadTopCompanyPOI();">
                        <td>TOP7</td>
                        <td><div>上海领毅投资中心(有限合伙)</div></td>
                        <td>
                            <div class="qytop10-barbox">
                                <div class="qytop10-bar1"><span>0</span></div>
                                <div class="qytop10-bar2"><span>0</span></div>
                            </div>
                        </td>
                    </tr>
                    <tr onclick="require('gl_TopCompany').loadTopCompanyPOI();">
                        <td>TOP8</td>
                        <td><div>上海悦达江申金融信息服务有限公司</div></td>
                        <td>
                            <div class="qytop10-barbox">
                                <div class="qytop10-bar1"><span>0</span></div>
                                <div class="qytop10-bar2"><span>0</span></div>
                            </div>
                        </td>
                    </tr>
                    <tr onclick="require('gl_TopCompany').loadTopCompanyPOI();">
                        <td>TOP9</td>
                        <td><div>上海莘凝投资中心(有限合伙)</div></td>
                        <td>
                            <div class="qytop10-barbox">
                                <div class="qytop10-bar1"><span>0</span></div>
                                <div class="qytop10-bar2"><span>0</span></div>
                            </div>
                        </td>
                    </tr>
                    <tr onclick="require('gl_TopCompany').loadTopCompanyPOI();">
                        <td>TOP10</td>
                        <td><div>上海吉贸郁川资产管理有限公司</div></td>
                        <td>
                            <div class="qytop10-barbox">
                                <div class="qytop10-bar1"><span>0</span></div>
                                <div class="qytop10-bar2"><span>0</span></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
