<!-- 停车服务 -->
<div id="left02_02" class="divbox divbox-lr clearfix cy-tcfw industry-garden-ls2" style="top: 8rem;z-index:999;display:block;">
    <h3><div id="tcfw-title">停车服务</div></h3>
    <div class="divcont">
        <div class="cy-tcfw-div flex">
            <button class="cy-tcfw-button"><div>停车位</div><span class="testAerial" id="cyyq-tcfw-total">268</span></button>
            <button class="cy-tcfw-button"><div>空余车位</div><span class="testAerial" id="cyyq-tcfw-empty">68</span></button>
        </div>
        <div class="chartdiv tcfw-chartdiv" style="height: 4rem;">
            <div class="tcfw-chart" id="tcfw-chart"></div>
            <button class="chartzoomin" onclick="require('g_Home').loadBigChart('Left_Second_02')"></button>
        </div>
    </div>
</div>