<!-- 无人驾驶接驳车 -->
<div id="left02_03" class="divbox divbox-lr clearfix cy-wrjsjbc" style="top: 14.5rem;z-index:999;display:block;">
    <h3><div>无人驾驶接驳车</div></h3>
    <div class="divcont">
        <div class="cy-tcfw-div flex">
            <button class="cy-tcfw-button"><div>总数</div><span class="testAerial">20</span></button>
            <button class="cy-tcfw-button"><div>正常</div><span class="testAerial">20</span></button>
            <button class="cy-tcfw-button"><div>故障</div><span class="testAerial">0</span></button>
        </div>
        <div class="chartdiv wrjsjbc-chartdiv" style="height: 4rem;">
            <div class="wrjsjbc-chart" id="wrjsjbc-chart"></div>
            <button class="chartzoomin" onclick="require('g_Home').loadBigChart('Left_Second_03')"></button>
        </div>
    </div>
</div>
