<!-- 智慧能耗 -->
<div id="right01_02" class="divbox divbox-rl clearfix cy-zhwy-rl2 industry-garden-rf2 divbox-sqzz-hax-lr1" style="top: 10rem;z-index:999;display:block;">
    <h3 class="">
        <div id="zhnh-title">智慧能耗</div>
        <div class="charttabbox flex">
            <!--<a class="charttab"><span>近一年</span></a>-->
        </div>
    </h3>
    <div class="divcont">

        <div class="cy-zhnh flex">
            <div class="cy-zhnh-div">
                <div class="cy-zhnh-div-title">园区单位面积能耗排行</div>
                <div class="cy-zhnh-div-listbox scrolldiv" style="height:1.2rem; line-height:1.5em; font-size:.28rem; overflow:hidden;">
                    <ul id="zhnh-unit">
                        <!--<li>1&nbsp;B1栋<span>28150</span></li>
                        <li>2&nbsp;B2栋<span>28050</span></li>
                        <li>3&nbsp;B3栋<span>27350</span></li>-->
                    </ul>
                </div>
            </div>
            <div class="cy-zhnh-div">
                <div class="cy-zhnh-div-right"  id="zhnh-common">
                    <div class="cy-zhnh-div-title">园区能耗同比分析</div>
                    <span class="testAerial colorgreen"><i>-3.62%</i><em></em></span>
                </div>
                <div class="cy-zhnh-div-right" id="zhnh-chainratio">
                    <div class="cy-zhnh-div-title">园区能耗环比分析</div>
                    <span class="testAerial colorgreen"><i>-3.62%</i><em></em></span>
                </div>
            </div>
        </div>
        <div class="chartdiv zhnh-chartdiv" style="height: 4.2rem; margin-top: .2rem;">
            <div class="zhnh-chart" id="zhnh-chart"></div>
            <button class="chartzoomin" onclick="require('g_Home').loadBigChart('Right_First_02')"></button>
        </div>

        <div class="cy-piebox flex">
            <div class="cy-piediv">
                <div class="cy-piedata" id="zhnh-dailyenergy"><span>5,896</span>千瓦.时</div>
                <div class="cy-pie"></div>
                <div class="cy-pietext">园区当日总能耗</div>
            </div>
            <div class="cy-piediv">
                <div class="cy-piedata" id="zhnh-monthenergy"><span>28</span>千瓦.时</div>
                <div class="cy-pie"></div>
                <div class="cy-pietext">园区当月总能耗</div>
            </div>
            <div class="cy-piediv">
                <div class="cy-piedata" id="zhnh-yearenergy"><span>262</span>千瓦.时</div>
                <div class="cy-pie"></div>
                <div class="cy-pietext">园区当年总能耗</div>
            </div>
        </div>
    </div>
</div>

