<!-- 智慧物业 -->
<div id="right01_01"  class="divbox divbox-rl clearfix" style="z-index:999;display:block;">
    <h3><div id="zhwyRepair-title">智慧物业</div></h3>
    <div class="divcont">
        <div class="cy-zhwy flex">
            <div class="cy-zhwy-div flex">
                <button class="cy-zhwy-a">报修</button>
                <ul class="cy-zhwy-ul" id="zhwy-repair">
                    <!--<li class=""><span>总数：</span><em class="testAerial">20</em></li>
                    <li class=""><span>已处理：</span><em class="testAerial">15</em></li>
                    <li class=""><span>待处理：</span><em class="testAerial">5</em></li>-->
                </ul>
            </div>
            <div class="cy-zhwy-div flex">
                <button class="cy-zhwy-a">巡检</button>
                <ul class="cy-zhwy-ul" id="zhwy-inspect">
                    <!--<li class=""><span>总数：</span><em class="testAerial">20</em></li>
                    <li class=""><span>已处理：</span><em class="testAerial">17</em></li>
                    <li class=""><span>待处理：</span><em class="testAerial">3</em></li>-->
                </ul>
            </div>
            <div class="cy-zhwy-div" id="zhwy-weekaveragerate">
                <div>周平均完成率</div>
                <!--<span class="testAerial">92%</span>-->
            </div>
        </div>
        <div class="chartdiv zhwy-chartdiv" style="height: 4rem; margin-top: .2rem;">
            <div class="zhwy-chart" id="zhwy-chart"></div>
            <button class="chartzoomin" onclick="require('g_Home').loadBigChart('Right_First_01')"></button>
        </div>
    </div>
</div>