<!-- 智慧能耗 -->
<div id="right01_02" class="divbox divbox-rl clearfix cy-zhwy-rl2" style="top: 10rem;z-index:999;display:block;">
    <h3><div>智慧能耗</div></h3>
    <div class="divcont">

        <div class="cy-zhnh flex">
            <div class="cy-zhnh-div">
                <div class="cy-zhnh-div-title">园区单位面积能耗排行</div>
                <div class="cy-zhnh-div-listbox">
                    <ul class="">
                        <li>1&nbsp;B1栋<span>28150</span></li>
                        <li>2&nbsp;B2栋<span>28050</span></li>
                        <li>3&nbsp;B3栋<span>27350</span></li>
                    </ul>
                </div>
            </div>
            <div class="cy-zhnh-div">
                <div class="cy-zhnh-div-right">
                    <div class="cy-zhnh-div-title">园区能耗同比分析</div>
                    <span class="testAerial colorgreen">-3.62%<em></em></span>
                </div>
                <div class="cy-zhnh-div-right">
                    <div class="cy-zhnh-div-title">园区能耗环比分析</div>
                    <span class="testAerial colorgreen">-3.62%<em></em></span>
                </div>
            </div>
        </div>

        <!--<div class="cy-zhwy flex">
            <button>
                <div>园区单位面积能耗排行</div>
                <span class="testAerial" style="color: #0ff;">3</span>
            </button>
            <button>
                <div>园区能耗同比分析</div>
                <span class="testAerial colorgreen">-3.62%<em></em></span>
            </button>
            <button>
                <div>园区能耗环比分析</div>
                <span class="testAerial colorgreen">-3.62%<em></em></span>
            </button>
        </div>-->
        <div class="chartdiv zhnh-chartdiv" style="height: 4.3rem; margin-top: .2rem;">
            <div class="zhnh-chart" id="zhnh-chart"></div>
        </div>
        <button class="chartzoomin" onclick="require('g_Home').loadBigChart('Right_First_02')"></button>

        <div class="cy-piebox flex">
            <div class="cy-piediv">
                <div class="cy-piedata"><span>5,896</span>千瓦</div>
                <div class="cy-pie"></div>
                <div class="cy-pietext">园区当日总能耗</div>
            </div>
            <div class="cy-piediv">
                <div class="cy-piedata"><span>28</span>万千瓦</div>
                <div class="cy-pie"></div>
                <div class="cy-pietext">园区当月总能耗</div>
            </div>
            <div class="cy-piediv">
                <div class="cy-piedata"><span>262</span>万千瓦</div>
                <div class="cy-pie"></div>
                <div class="cy-pietext">园区当年总能耗</div>
            </div>
        </div>
    </div>
</div>

