<!-- 事件统计 -->
<div id="right02_01" class="divbox divbox-rr clearfix cy-ly-rr1 industry-garden-rs1 divbox-sqzz-hax-lr1" style="z-index:999;display:block;">
    <h3 class="hastabbox">
        <div id="sjtj-title">事件统计</div>
        <div class="charttabbox flex">
            <a class="charttab"><span>近一周</span></a>
        </div>
    </h3>
    <div class="divcont" style="padding-top: 0.1rem">
        <div class="flex sjxx-tab">
            <button type="button" class="active">总数：<span class="testAerial" id="parkingEnvent-total">20</span></button>
            <button type="button">已处理：<span class="testAerial" id="parkingEnvent-finished">18</span></button>
            <button type="button">待处理：<span class="testAerial" id="parkingEnvent-accepted">1</span></button>
            <button type="button">处理中：<span class="testAerial" id="parkingEnvent-processing">1</span></button>
        </div>
        <div class="cy-ly-rr1-divbox scrolldiv" id="yq-sjtj">
            <ul class="cy-ly-rr1-ul" style="height:100%;" id="ul-parkingEnvent">
                <!--<li class="cy-ly-rr1-li active">
                    <div class="cy-ly-rr1-lidiv clearfix active">
                        <span class="cy-ly-rr1-num">001</span>
                        <span class="cy-ly-rr1-name">[一卡通] 申请开卡</span>
                    </div>
                    <div class="cy-ly-rr1-state">已处理</div>
                    <span class="cy-ly-rr1-date">2019/02/01</span>
                </li>-->
            </ul>
        </div>
        <div class="pagination-box">
            <div id="pagination-parkingEnvent">
                <span class="current prev">上一页</span>
                <span class="current">1</span>
                <a style="cursor: pointer;">2</a>
                <a style="cursor: pointer;">...</a>
                <a style="cursor: pointer;">4</a>
                <a class="next" style="cursor: pointer;">下一页</a>
            </div>
        </div>
    </div>
</div>
