<!-- 中间企业 -->
<div class="cy-qy-navbar" style="z-index:999;">
    进入<br>企业
    <button class="cy-qy-menu-close" onclick="require('gl_TopCompany').closeTopCompanyInfo();">关闭</button>
    <ul class="cy-qy-menu">
        <li class="cy-qy-menuli">
            <a href="javascript:;">
                <div class="cy-qy-title">产业政策</div>
                <div class="cy-qy-divcont divcont-setright cy-qy-zc-divcont" style="top: .4rem;">
                    <div class="cy-qy-divcont-child">
                        <ul class="cy-qy-zclist">
                            <li class="cy-qy-zcli active">临港地区产业转型升级发展专项资金管理办法</li>
                            <li class="cy-qy-zcli">临港地区战略性新兴产业专项资金管理办法</li>
                            <li class="cy-qy-zcli">上海市产业转型升级发展专项资金管理办法</li>
                        </ul>
                    </div>
                </div>
            </a>
        </li>
        <li class="cy-qy-menuli">
            <a href="javascript:;">
                <div class="cy-qy-title">人才政策</div>
                <div class="cy-qy-divcont divcont-setright cy-qy-zc-divcont">
                    <div class="cy-qy-divcont-child">
                        <ul class="cy-qy-zclist">
                            <li class="cy-qy-zcli active">上海市临港地区领军型人才直接贡献奖励实施细则</li>
                            <li class="cy-qy-zcli">上海市人才发展资金管理办法</li>
                            <li class="cy-qy-zcli">浦东新区科技发展基金博士后资助资金操作细则</li>
                        </ul>
                    </div>
                </div>
            </a>
        </li>
        <li class="cy-qy-menuli">
            <a href="javascript:;">
                <div class="cy-qy-title">财政税收政策</div>
                <div class="cy-qy-divcont divcont-setright cy-qy-zc-divcont">
                    <div class="cy-qy-divcont-child">
                        <ul class="cy-qy-zclist">
                            <li class="cy-qy-zcli active">"十三五"期间浦东新区财政扶持经济发展的意见</li>
                            <li class="cy-qy-zcli">浦东新区"十三五"期间促进战略性新兴产业发展财政扶持办法</li>
                            <li class="cy-qy-zcli">浦东新区"十三五"期间促进航运业发展财政扶持办法</li>
                        </ul>
                    </div>
                </div>
            </a>
        </li>
        <li class="cy-qy-menuli">
            <a href="javascript:;">
                <div class="cy-qy-title">金融政策</div>
                <div class="cy-qy-divcont divcont-setright cy-qy-zc-divcont">
                    <div class="cy-qy-divcont-child">
                        <ul class="cy-qy-zclist">
                            <li class="cy-qy-zcli active">科技型中小企业创业投资引导基金管理暂行办法</li>
                            <li class="cy-qy-zcli">上海市商业性融资担保机构担保代偿损失风险补偿办法</li>
                            <li class="cy-qy-zcli">浦东新区关于促进中小企业上市挂牌的若干意见</li>
                        </ul>
                    </div>
                </div>
            </a>
        </li>
        <li class="cy-qy-menuli">
            <a href="javascript:;">
                <div class="cy-qy-title">其他</div>
                <div class="cy-qy-divcont divcont-setright cy-qy-zc-divcont" style="top: 2.5rem;">
                    <div class="cy-qy-divcont-child">
                        <ul class="cy-qy-zclist">
                            <li class="cy-qy-zcli active">上海市（临港）科技小巨人专项项目</li>
                            <li class="cy-qy-zcli">临港地区节能减排专项资金管理办法</li>
                            <li class="cy-qy-zcli">上海市社会诚信体系建设专项资金管理办法</li>
                        </ul>
                    </div>
                </div>
            </a>
        </li>

        <li class="cy-qy-menuli"><a href="javascript:;"><div class="cy-qy-title">物业报修</div></a></li>
        <li class="cy-qy-menuli"><a href="javascript:;"><div class="cy-qy-title">生活服务</div></a></li>
        <li class="cy-qy-menuli"><a href="javascript:;"><div class="cy-qy-title">人才服务</div></a></li>
        <li class="cy-qy-menuli">
            <a href="javascript:;">
                <div class="cy-qy-title">入住服务</div>
                <div class="cy-qy-divcont divcont-setleft">
                    <div class="cy-qy-divcont-child">
                        <div class="cy-qy-div flex">
                            <button class="cy-qy-button1">环节</button>
                            <button class="cy-qy-button3"><em class="testAerial">14</em>个</button>
                            <button class="cy-qy-button4"><img src="Content/images/cy-qy-div-icon4.gif" /></button>
                            <button class="cy-qy-button5"><em class="testAerial">9</em>个</button>
                        </div>
                        <div class="cy-qy-div flex">
                            <button class="cy-qy-button1">审批<br>过程</button>
                            <button class="cy-qy-button3">至少<em class="testAerial">3</em>次</button>
                            <button class="cy-qy-button4"><img src="Content/images/cy-qy-div-icon4.gif" /></button>
                            <button class="cy-qy-button5"><em class="testAerial">1</em>次</button>
                        </div>
                        <div class="cy-qy-div cy-qy-divlast">一网通办“零见面”</div>
                    </div>
                </div>
            </a>
        </li>
        <li class="cy-qy-menuli">
            <a href="javascript:;">
                <div class="cy-qy-title">代理开办</div>
                <div class="cy-qy-divcont divcont-setleft" style="top: .4rem;">
                    <div class="cy-qy-divcont-child">
                        <div class="cy-qy-div flex">
                            <button class="cy-qy-button1">表单</button>
                            <button class="cy-qy-button3"><em class="testAerial">11</em>张</button>
                            <button class="cy-qy-button4"><img src="Content/images/cy-qy-div-icon4.gif" /></button>
                            <button class="cy-qy-button5"><em class="testAerial">1</em>张</button>
                        </div>
                        <div class="cy-qy-div flex">
                            <button class="cy-qy-button1">时间</button>
                            <button class="cy-qy-button3"><em class="testAerial">9</em>天</button>
                            <button class="cy-qy-button4"><img src="Content/images/cy-qy-div-icon4.gif" /></button>
                            <button class="cy-qy-button5"><em class="testAerial">3</em>天</button>
                        </div>
                        <div class="cy-qy-div cy-qy-divlast">免费、省时、省力、专业</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>


<script>
    cyqyMenuLiFun();
    function cyqyMenuLiFun() {
        //$(".cy-qy-navbar").click(function () {
        //    $(this).addClass("active");
        //    $(this).find(".cy-qy-menu-close").css({ display: "block" })
        //})

        //$(".cy-qy-menu a").each(function (index, element) {
        //    $(this).click(function (ev) {
        //        if (ev.target == $(this)[0]) {
        //            $(this).addClass("active").parents(".cy-qy-menuli").siblings().find("a").removeClass("active").find(".cy-qy-divcont").removeClass("active");
        //            $(this).find(".cy-qy-divcont").addClass("active");
        //        }
        //    })
        //})

        //$(".cy-qy-menu-close").click(function (ev) {
        //    if (ev.target == $(this)[0]) {
        //        $(this).parents(".cy-qy-navbar").find("a").each(function () {
        //            $(this).removeClass("active").find(".cy-qy-divcont").removeClass("active");
        //        });
        //        $(this).parents(".cy-qy-navbar").removeClass("active")
        //        $(this).css({ display: "none" })
        //        return false;
        //    }
        //})



        // 显示圆圈
        $(".cy-qy-navbar").click(function () {
            $(this).addClass("active").children(".cy-qy-menu").css({ "transition": "transform .2s" });
            $(this).find(".cy-qy-title").each(function () {
                $(this).css({
                    "transition-delay": "1s",
                    "transition-duration": ".3s",
                    "opacity": 1,
                    "padding": ".1rem .4rem",
                })
            })
            $(this).find(".cy-qy-menu-close").addClass("active");
        })

        // 显示圆圈信息
        $(".cy-qy-menu a").each(function (index, element) {
            $(this).click(function (ev) {
                if (ev.target == $(this)[0]) {
                    $(this).addClass("active").parents(".cy-qy-menuli").siblings().find("a").removeClass("active").find(".cy-qy-divcont").removeClass("active");
                    $(this).find(".cy-qy-divcont").css({ "transition-duration": ".8s" }).addClass("active");
                }
            })
        })

        // 隐藏圆圈
        $(".cy-qy-menu-close").click(function (ev) {
            if (ev.target == $(this)[0]) {
                $(this).parents(".cy-qy-navbar").find("a").each(function () {
                    $(this).removeClass("active").find(".cy-qy-divcont").css({ "transition-duration": ".2s" }).removeClass("active");
                    $(this).find(".cy-qy-title").css({
                        "transition-delay": ".1s",
                        "transition-duration": ".1s",
                        "opacity": 0,
                        "padding": 0,
                    })
                });
                $(this).siblings(".cy-qy-menu").css({ "transition-delay": ".8s" }).parents(".cy-qy-navbar").removeClass("active")
                $(this).removeClass("active")
                return false;
            }
        })










    }


</script>