<div class="real-neight flex">
    <button type="button" class="real-scene" onclick="require(['common'], function (data) { data.ChangeLight(1); })">实景</button>
    <button type="button" class="night-scene active" onclick="require(['common'], function (data) { data.ChangeLight(0); })">夜景</button>
</div>
<ul class="flex">
    <li class="">传感器</li>
    <li class="">摄像头</li>
    <li class="">无人机</li>
    <li class="active">村居工作站</li>
    <li class="">海岸线</li>
    <li class="">工地</li>
    <li class="">事件</li>
</ul>