<!--中间DIV-->
<div class="pjc-statistic twocol">
    <dl>
        <dt>社区总数</dt>
        <dd class="testAerial"><span>8503,</span></dd>
        <dt>总人数</dt>
        <dd class="testAerial "><span class="counter">1,688,503</span></dd>
        <dt class="pjc-subdt">常驻</dt>
        <dd class="pjc-subdd testAerial"><span>86,920</span></dd>
        <dt class="pjc-subdt">访客</dt>
        <dd class="pjc-subdd testAerial"><span class="counter">7,4920</span></dd>
        <dt class="pjc-subdt">社区服务人员</dt>
        <dd class="pjc-subdd testAerial"><span>1,6005</span></dd>
        <dt>网格数</dt>
        <dd class="testAerial"><span>16,885</span></dd>
        <dt>事件数</dt>
        <dd class="pjc-subdd testAerial"><span>437</span></dd>
    </dl>
</div>