
 <div class="twocol-top"><span>社区</span><img src="Content/images/twocol-topicon.png"></div>
    <div class="twocol-cont">

        <!-- 社区统计 -->
        <div class="divbox" style="margin-bottom: .2rem;">
            <h3><div>社区统计</div></h3>
            <div class="divcont flex divcont-sqtj">
                <dl class="sqtj-dl">
                    <dt class="sqtj-dt">社区人口</dt>
                    <dd class="sqtj-dd">
                        <ul class="">
                            <li><div>常驻</div><span class="testAerial counter">125,894</span></li>
                            <li><div>访客</div><span class="testAerial counter">55,621</span></li>
                            <li><div>社区服务人员</div><span class="testAerial counter">1,356</span></li>
                        </ul>
                    </dd>
                </dl>

                <dl class="sqtj-dl sqtj-dl2 ">
                    <dt class="sqtj-dt">社区车辆</dt>
                    <dd class="sqtj-dd">
                        <ul class="">
                            <li class="active"><div>进入车辆</div><span class="testAerial counter">1.25万</span></li>
                            <li class="active"><div>出去车辆</div><span class="testAerial counter">5,894</span></li>
                            <li><div>小区车辆</div><span class="testAerial counter">5,698</span></li>
                            <li><div>外来车辆</div><span class="testAerial counter">2,621</span></li>
                            <li><div>异常车辆</div><span class="testAerial counter">356</span></li>
                        </ul>
                    </dd>
                </dl>
                <dl class="sqtj-dl sqtj-dl3">
                    <dt class="sqtj-dt">社区IOT</dt>
                    <dd class="sqtj-dd flex">
                        <ul>
                            <li><div>地磁</div><span class="testAerial counter">1,258</span></li>
                            <li><div>烟感</div><span class="testAerial counter">2,621</span></li>
                            <li><div>门禁</div><span class="testAerial counter">2,456</span></li>
                        </ul>
                        <ul class="sqtj-dl3-ul2">
                            <li>
                                <div>正常：<span class="testAerial counter">1,200</span></div>
                                <div>异常：<span class="testAerial counter">58</span></div>
                            </li>
                            <li>
                                <div>正常：<span class="testAerial counter">5,600</span></div>
                                <div>异常：<span class="testAerial counter">21</span></div>
                            </li>
                            <li>
                                <div>正常：<span class="testAerial counter">2,400</span></div>
                                <div>异常：<span class="testAerial counter">56</span></div>
                            </li>
                        </ul>

                    </dd>
                </dl>
            </div>
        </div>


        <!-- 摄像头 -->
        <div class="divbox divbox-sxt2">
            <h3><div>摄像头</div></h3>
            <div class="divcont">
                <ul class="flex sxt-ul">
                    <li class="sxt-li sxt-li4">
                        <div class="sxt-circlediv flex"></div>
                        <div class="sxt-circleinfo">
                            <div class=""><span>总数：</span><em class="testAerial counter">2,468</em></div>
                            <div class=""><span>正常：</span><em class="testAerial counter">2,458</em></div>
                            <div class=""><span>故障：</span><em class="testAerial counter">10</em></div>
                        </div>
                    </li>
                    <li class="sxt-li sxt-li5">
                        <div class="sxt-circlediv flex"></div>
                        <div class="sxt-circleinfo">
                            <div class=""><span>总数：</span><em class="testAerial counter">1,369</em></div>
                            <div class=""><span>正常：</span><em class="testAerial counter">1,356</em></div>
                            <div class=""><span>故障：</span><em class="testAerial counter">13</em></div>
                        </div>
                    </li>
                    <li class="sxt-li sxt-li6">
                        <div class="sxt-circlediv flex"></div>
                        <div class="sxt-circleinfo">
                            <div class=""><span>人员:</span><em class="testAerial counter">1,460</em></div>
                            <div class=""><span>正常：</span><em class="testAerial counter">1445</em></div>
                            <div class=""><span>嫌疑人员：</span><em class="testAerial counter">15</em></div>
                        </div>
                    </li>
                </ul>
                <div class="sxt-videobox">
                    <ul class="sxt-videoul flex dkl-r-sxtul">
                        <li class="sxt-videoli prism-player" id="player-con"></li>
                        <li class="sxt-videoli prism-player" id="player-con2"></li>
                        <li class="sxt-videoli prism-player" id="player-con3"></li>
                    </ul>
                    <button type="button" class="arrowbtn btnleft"></button>
                    <button type="button" class="arrowbtn btnright"></button>
                </div>
            </div>
        </div>
        <!-- twocol-cont -->
    </div>
 
