<!--左侧第一列DIV-->
<div class="twocol-top"><img src="../Content/images/twocol-topicon.png"><span>临港</span></div>
<div class="twocol-cont">
    <!-- 传感器 -->
    <div class="divbox clearfix">
        <h3><div>传感器</div></h3>
        <div class="divcont">
            <ul class="cgq-ul">
                <li class="cgq-li">
                    <div class="item-l testAerial has-num" data-text="3"></div>
                    <div class="item-r"><div class="item-r-name">烟雾感应</div><div class="item-r-data testAerial">48</div></div>
                </li>
                <li class="cgq-li">
                    <div class="item-l"></div>
                    <div class="item-r"><div class="item-r-name">智能电梯</div><div class="item-r-data testAerial">138</div></div>
                </li>
                <li class="cgq-li">
                    <div class="item-l"></div>
                    <div class="item-r"><div class="item-r-name">无线门磁</div><div class="item-r-data testAerial">90</div></div>
                </li>
                <li class="cgq-li">
                    <div class="item-l"></div>
                    <div class="item-r"><div class="item-r-name">停车地磁</div><div class="item-r-data testAerial">86</div></div>
                </li>
                <li class="cgq-li">
                    <div class="item-l"></div>
                    <div class="item-r"><div class="item-r-name">微信开门</div><div class="item-r-data testAerial">531</div></div>
                </li>
                <li class="cgq-li">
                    <div class="item-l testAerial has-num" data-text="12"></div>
                    <div class="item-r"><div class="item-r-name">电子围栏</div><div class="item-r-data testAerial">138</div></div>
                </li>
                <li class="cgq-li">
                    <div class="item-l"></div>
                    <div class="item-r"><div class="item-r-name">智能井盖</div><div class="item-r-data testAerial">1,200</div></div>
                </li>
            </ul>
        </div>
    </div>

    <!-- 摄像头 -->
    <div class="divbox divbox-sxt2">
        <h3><div>摄像头</div></h3>
        <div class="divcont">
            <ul class="flex sxt-ul">
                <li class="sxt-li sxt-li4">
                    <div class="sxt-circlediv flex" id="sxt1-chart"></div>
                    <div class="sxt-circleinfo">
                        <div class=""><span>总数：</span><em class="testAerial">2,468</em></div>
                        <div class=""><span>正常：</span><em class="testAerial">2,462</em></div>
                        <div class=""><span>故障：</span><em class="testAerial">8</em></div>
                    </div>
                </li>
                <li class="sxt-li sxt-li5">
                    <div class="sxt-circlediv flex" id="sxt2-chart"></div>
                    <div class="sxt-circleinfo">
                        <div class=""><span>总数：</span><em class="testAerial">2,460</em></div>
                        <div class=""><span>正常：</span><em class="testAerial">2,454</em></div>
                        <div class=""><span>故障：</span><em class="testAerial">6</em></div>
                    </div>
                </li>
                <li class="sxt-li sxt-li6">
                    <div class="sxt-circlediv flex" id="sxt3-chart"></div>
                    <div class="sxt-circleinfo">
                        <div class=""><span>人员:</span><em class="testAerial">1,468</em></div>
                        <div class=""><span>正常：</span><em class="testAerial">1,458</em></div>
                        <div class=""><span>嫌疑人员：</span><em class="testAerial">10</em></div>
                    </div>
                </li>
            </ul>
            <div class="sxt-videobox">
                <ul class="sxt-videoul flex">
                    <li class="sxt-videoli prism-player" id="left01_video01">
                    </li>
                    <li class="sxt-videoli prism-player" id="left01_video02">
                    </li>
                    <li class="sxt-videoli prism-player" id="left01_video03">
                    </li>
                </ul>
                <button type="button" class="arrowbtn btnleft"></button>
                <button type="button" class="arrowbtn btnright"></button>
            </div>
        </div>
    </div>

    <!-- 无人机 -->
    <div class="divbox">
        <h3><div>无人机</div></h3>
        <div class="divcont flex">
            <div class="wrj-left">
                <ul class="wrj-ul">
                    <li class="wrj-li"></li>
                    <li class="wrj-li"></li>
                    <li class="wrj-li"></li>
                </ul>
                <button type="button" class="arrowbtn btnleft"></button>
                <button type="button" class="arrowbtn btnright"></button>
            </div>
            <div class="wrj-right chartdiv">
                <div class="wrj-chart" id="wrj-chart"></div>
            </div>
        </div>
    </div>


    <!-- 处置单位列表 -->
    <div class="divbox clearfix">
        <h3><div>处置单位列表</div></h3>
        <div class="divcont">
            <table cellpadding="0" cellspacing="0" class="table czdw-table">
                <thead>
                    <tr>
                        <td>单位名称</td>
                        <td>核心事件</td>
                        <td>数量</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-active">
                        <td>澳浔科技有限公司</td>
                        <td>违反园区第三十条规定</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>亨通海洋装备有限公司</td>
                        <td>违反园区第三十二条规定</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>涵速智能科技有限公司</td>
                        <td>违反园区第三十一条规定</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>秦璞生物科技有限公司</td>
                        <td>违反园区第二十条规定</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>南风精密物理仪器有限公司</td>
                        <td>违反园区第二十条规定</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>奋为船舶技术有限公司</td>
                        <td>违反园区第二十条规定</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>奋为船舶技术有限公司</td>
                        <td>违反园区第二十条规定</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>灵敏科技有限公司</td>
                        <td>违反园区第二十条规定</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>浩泽科技技术有限公司</td>
                        <td>违反园区第二十条规定</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
