<ul class="scrollitem" id="ul_eventlist">
    <!--<li class="sjxx-li active" onclick="require('s_RightLayer').loadEventDetail(1)">
        <div class="sjxx-li-line1">
            <span class="sjxx-id counter">001</span>
            <span class="sjxx-event">无线门磁出现故障</span>
            <span class="fr sjxx-state">已处理</span>
        </div>
        <div class="sjxx-address">
            上海市浦东新区临港大道×××号
            <span class="fr sjxx-time">2019/02/06<span>张宇</span></span>
        </div>
    </li>-->
</ul>