<div class="poiinfo" id="ul_eventdetail" style="z-index:999; position:absolute; left:55%; top:20%;">
    <div class="box-top">
        事件005
        <button type="button" class="box-close"></button>
    </div>
    <div class="boxcont">
        <div class="box-leftpic">
        <!--<img src="../Content/images/poi-leftpic.png">-->
            <img src="../../Content/images/poi-leftpic.png" />
        </div>
        <dic class="box-rightinfo">
            <ul>
                <li><span>事件时间：</span><em>2019-01-23 10:06:02</em></li>
                <li><span>事件地点：</span><em>临港</em></li>
                <li><span>事件类型：</span><em>烟感器</em></li>
                <li><span>风险等级：</span><em>一级</em></li>
                <li><span>事件状态：</span><em>已派单</em></li>
            </ul>
            <button type="button" class="btn">事件处置</button>
        </dic>
    </div>
</div>






































