



<div class="statistic-box twocol society-center1" style="z-index:999;display:block;">
    <button class="statistic-slidebtn"><img src="Content/images/statistic-arrow.png"/></button>
    <div class="statistic-slidediv">
        <div class="pjc-statistic  short-statistic" style="z-index:999;display:block;">
            <dl>
                <dt>企业总数</dt>
                <dd class="testAerial"><span id="e_qyzs">66,159</span></dd>
                <dt>规上企业数</dt>
                <dd class="testAerial"><span id="e_gsqys">2,309</span></dd>
                <dt>战略新兴企业数</dt>
                <dd class="testAerial"><span id="e_zlxxqys">117</span></dd>
                <dt>独角兽企业数</dt>
                <dd class="testAerial"><span id="e_djsqys">22,678</span></dd>
                <dt>上市企业数</dt>
                <dd class="testAerial"><span id="e_ssqys">22,678</span></dd>
            </dl>
        </div> 
    </div>

<script>
    $(function () {
        //$(".statistic-slidebtn").each(function () {   //$('.statistic-slidebtn').css("transform")
            //var thisClick = false;
        $('.statistic-slidebtn').click(function () {
                require("mainJsLoad").statisticslidebtn();
                //thisClick = !thisClick;
                //if (thisClick) {
                //    $(this).css({ transform: 'rotate(0)' }).siblings(".statistic-slidediv").slideUp();
                //} else {
                //    $(this).css({ transform: 'rotate(180deg)' }).siblings(".statistic-slidediv").slideDown();
                //}
            })
        //})
    })

</script>
</div>
