<!-- 就业机会变化趋势 -->
<div id="right01_01" class="divbox divbox-rl clearfix" style="z-index:999;display:block;">
    <h3 class="hastabbox">
        <div>就业机会变化趋势</div>
        <div class="charttabbox flex">
            <a class="charttab active">按年</a>
            <a class="charttab">按月</a>
            <a class="charttab">按日</a>
        </div>
    </h3>
    <div class="divcont" style="padding-top: .2rem;">
        <div class="chartdiv jyjh-chartdiv">
            <div class="jyjh-chart" id="jyjh-chart"></div>
            <button class="chartzoomin" onclick="require('e_Home').loadBigChart('Right_First_01')"></button>
        </div>
    </div>
</div>