<!-- 风控雷达 -->
<div id="right02_02"  class="divbox divbox-rr clearfix  industry-estate-rs2" style="top:9rem;z-index:990;display:block;">
    <!--<h3>
        <div>产业简报企业列表</div>
    </h3>-->
    <div class="divcont cyjbList-cont" style="padding-top:0;">
        <div class="cyjbList-tabbox flex">
            <button class="cyjbList-tab active" id="cyjb-business">
                <div>569</div>
                <span>新增企业数</span>
            </button>
            <button class="cyjbList-tab" id="cyjb-died">
                <div>130</div>
                <span>迁出/消亡企业数</span>
            </button>
            <button class="cyjbList-tab" id="cyjb-regulatory">
                <div>567</div>
                <span>新增司法监管数</span>
            </button>
            <button class="cyjbList-tab" id="cyjb-judged">
                <div>38</div>
                <span>新增行政处罚数</span>
            </button>
            <button class="cyjbList-tab" id="cyjb-emerging">
                <div>2</div>
                <span>新增战略新兴企业数</span>
            </button>
        </div>
        <div class="cyjbList-div scrolldiv" id="cyjbList-div" style="height: 10rem;">
            <!--<div class="cyjbList-item">
                <div class="cyjbList-name">上海国奥源华安生物科技有限公司</div>
                <div class="cyjbList-type">科学研究、技术服务和地质勘查业</div>
            </div>
            <div class="cyjbList-item">
                <div class="cyjbList-name">上海国奥源华安生物科技有限公司</div>
                <div class="cyjbList-type">科学研究、技术服务和地质勘查业</div>
            </div>
            <div class="cyjbList-item">
                <div class="cyjbList-name">上海国奥源华安生物科技有限公司</div>
                <div class="cyjbList-type">科学研究、技术服务和地质勘查业科学研究、技术服务和地质勘查业科学研究、技术服务和地质勘查业</div>
            </div>-->
        </div>

    </div>
</div>




