<!-- 薪资水平变化趋势 -->
<div id="right01_02" class="divbox divbox-rl clearfix  industry-estate-rf2" style="top:9rem;z-index:999;display:block;">
    <h3 class="hastabbox">
        <div>薪资水平变化趋势</div>
        <div class="charttabbox flex">
           
        </div>
    </h3>
    <div class="divcont" style="padding-top: .2rem;">
        <div class="chartdiv xzsp-chartdiv">
            <div class="xzsp-chart" id="xzsp-chart"></div>
            <button class="chartzoomin" onclick="require('e_Home').loadBigChart('Right_First_02')"></button>
        </div>
    </div>
</div>
