<!-- 薪资水平变化趋势 -->
<div id="right01_02" class="divbox divbox-rl clearfix" style="top:9rem;z-index:999;display:block;">
    <h3 class="hastabbox">
        <div>薪资水平变化趋势</div>
        <div class="charttabbox flex">
            <a class="charttab active">按年</a>
            <a class="charttab">按月</a>
            <a class="charttab">按日</a>
        </div>
    </h3>
    <div class="divcont" style="padding-top: .2rem;">
        <div class="chartdiv xzsp-chartdiv">
            <div class="xzsp-chart" id="xzsp-chart"></div>
            
        </div>
    </div>
</div>
