<!-- 高层次人才变化趋势 -->
<div id="right01_03" class="divbox divbox-rl clearfix gccrc" style="top:15rem;z-index:999;display:block;">
    <h3 class="hastabbox">
        <div>高层次人才变化趋势</div>
        <div class="charttabbox flex">
            <a class="charttab">按区域</a>
            <a class="charttab active">按年</a>
            <a class="charttab">按月</a>
            <a class="charttab">按日</a>
        </div>
    </h3>
    <div class="divcont" style="padding-top: .2rem;">
        <div class="chartdiv gccrc-chartdiv">
            <div class="gccrc-chart" id="gccrc-chart"></div>
            <button class="chartzoomin" onclick="require('e_Echart').loadBigChart('Right_First_03')"></button>
        </div>
    </div>
</div>