@{
    ViewBag.Title = "临港智慧城市大脑控制台";
}
<!--背景-->
@*<div class="pj-bgbox" id="bj_backgroud" style="z-index:999;display:none;">
        <div class="pj-tshadow"></div>
        <div class="pj-rshadow twocol"></div>
        <div class="pj-bshadow"></div>
        <div class="pj-lshadow twocol"></div>
    </div>*@
<!-- 头部 -->
<script data-main="@Url.Content("~/Scripts/Shared/Main_D")" type="text/javascript" src="~/Scripts/require.js"></script>    

<div class="header clearfix" id="header_menu" style="z-index:999;display:none">
    <div class="header-leftmenu">
        <!-- <button class="header-menu">数字星空</button> -->
        <button class="header-menu active">城区综治</button>
        <button class="header-menu">景区管理</button>
        <!-- <button class="header-menu">产业发展</button> -->
    </div>
    <div class="header-rightmenu">
        <button class="header-menu">园区产业</button>
    </div>
</div>

<!--天气和时间-->
<div class="header-timetemp" id="header_timetemp" style="z-index:999;display:none">
    <span class="real-neight">
        <button type="button" class="real-scene" id="real_scene">实景</button>
        <button type="button" class="night-scene active" >夜景</button>
    </span>
    @*<span class="header-temp" id="header_tempimg"><img src="Content/images/weathy_04.png"><span id="header_temp">10°</span></span>*@
    <span class="header-date" id="pj-year">2019.01.30</span>
    <span id="pj-houre">10:58:49</span>
    <button type="button" class="header-cancel"></button>
</div>

<!-- 底部导航栏 -->
<div class="navbox" id="bottom_menu" style="z-index:999;display:none"></div>
<!--------------------------------------------------------左边图表-------------------------------------------->
<!--左边第一列-->
<div id="left_first_01" style="z-index:999;"></div>
<div id="left_first_02" style="z-index:999;"></div>
<div id="left_first_03" style="z-index:999;"></div>
<div id="left_first_04" style="z-index:999;"></div>
<!--左边第二列-->
<div id="left_second_01" style="z-index:999;"></div>
<div id="left_second_02" style="z-index:999;"></div>
<div id="left_second_03" style="z-index:999;"></div>
<div id="left_second_04" style="z-index:999;"></div>
<!--------------------------------------------------------右边图表-------------------------------------------->
<!--右边第一列-->
<div id="right_first_01" style="z-index:999;"></div>
<div id="right_first_02" style="z-index:999;"></div>
<div id="right_first_03" style="z-index:999;"></div>
<div id="right_first_04" style="z-index:999;"></div>
<!--右边第二列-->
<div id="right_second_01" style="z-index:999;"></div>
<div id="right_second_02" style="z-index:999;"></div>
<div id="right_second_03" style="z-index:999;"></div>
<div id="right_second_04" style="z-index:999;"></div>

<!--------------------------------------------------------中间-------------------------------------------->
<!--中间统计数据 -->
<div id="center_01" style="z-index:999;"></div>
<div id="center_02" style="z-index:999;"></div>
<div id="center_03" style="z-index:999;"></div>
<div id="center_04" style="z-index:999;"></div>
<div id="center_05" style="z-index:999;"></div>

<!--------------------------------------------------------详情-------------------------------------------->
<div id="detail_01" style="z-index:999;display:none;"></div>

<!--POI详情内容-->
<div id="detail_02" style="z-index:999;display:none;"></div>
<div id="detail_03" style="z-index:999;display:none;"></div>
<div id="detail_04" style="z-index:999;display:none;"></div>
<!--社会综治视频播放内容-->
<div id="detail_societyplayer" style="display:none;"></div>
<!--大客流视频播放内容-->
<div id="detail_tourplayer" style="display:none;"></div>

<!--------------------------------------------------------详情(窗口节点跟随用)-------------------------------------------->
<div id="detail_1" style="z-index:980;position:absolute;left:-200px;top:-200px"></div>
<div id="detail_2" style="z-index:980;position:absolute;left:-200px;top:-200px"></div>
<div id="detail_3" style="z-index:980;position:absolute;left:-200px;top:-200px"></div>
<div id="detail_4" style="z-index:980;position:absolute;left:-200px;top:-200px"></div>
<div id="detail_5" style="z-index:980;position:absolute;left:-200px;top:-200px"></div>
<div id="detail_6" style="z-index:980;position:absolute;left:-200px;top:-200px"></div>
<div id="detail_7" style="z-index:980;position:absolute;left:-200px;top:-200px"></div>
<div id="detail_8" style="z-index:980;position:absolute;left:-200px;top:-200px"></div>
<div id="detail_9" style="z-index:980;position:absolute;left:-200px;top:-200px"></div>

<!--------------------------------------------------------三维-------------------------------------------->
<!--交通仿真-->
<object id="DATACHANNEL" width=1 height=1 classid="CLSID:068FCD8B-5556-4d83-837F-CDCD9EBF4C00"></object>

<!--三维-->
<div id="MapWrapper" style="position:absolute;top:0px;bottom:0px;left:0px;right:0px; z-index:200;" />