
@keyframes b {
	0% {
		transform: scale(1) rotate(0)
	}
	99% {
		transform: scale(4) rotate(90deg);
		opacity: 0
	}
	to {
		transform: scale(1) rotate(0);
		opacity: 0
	}
}
.starability-growRotate {
	display: block;
	position: relative;
	width: 2.5rem;
	padding: 0;
	border: none
}
.starability-growRotate>input {  
	position: absolute;
	outline: none;
	opacity: 0
}
.starability-growRotate>input:checked~label,
.starability-growRotate>input:focus~label,
.starability-growRotate>input:hover~label {
	background-position: 0 -.4rem;
}
.starability-growRotate>input:focus+label { outline: 1px dotted #999}

.starability-growRotate>label {
	position: relative;
	display: inline-block;
	float: right;
	width: .4rem;
	height: .4rem;
	margin-right: .1rem;
	color: transparent;
	cursor: pointer;
	background-image: url(../Content/images/star-icon.png);
	background-repeat: no-repeat
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi),screen and (-webkit-min-device-pixel-ratio:2) {
	.starability-growRotate>label {
		background-image: url(../Content/images/star-icon@2x.png);
		background-size: .4rem auto
	}
}
.starability-growRotate>label:before {
	display: none;
	position: absolute;
	content: ' ';
	width: .4rem;
	height: .4rem;
	background-image: url(../Content/images/star-icon.png);
	background-repeat: no-repeat;
	bottom: 0
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi),screen and (-webkit-min-device-pixel-ratio:2) {
	.starability-growRotate>label:before {
		background-image: url(../Content/images/star-icon@2x.png);
		background-size: 30px auto
	}
}
.starability-growRotate>input:checked+label:before {
	display: block;
	animation-duration: 1s;
	animation-name: b;
	animation-fill-mode: forwards
}
