<div class="poiinfo poiinfo3" id="ul_busStopDetail" style="z-index:999; position:absolute; left:50%; top:50%;">
    <div class="box-top">
        <div id="ul_busStopDetail_name">沪城环路橄榄路</div>
        <button type="button" class="box-close" onclick="require('t_Home').closeBusStopDetail()"></button>
    </div>
    <div class="boxcont clearfix">
        <div class="box-rightinfo">
            <ul>
                <li><span>线路：&nbsp;&nbsp;</span><em id="ul_busStopDetail_line">临港4路</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><span>方向：&nbsp;&nbsp;</span><em id="ul_busStopDetail_direction">反向</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <!-- <li><span>距离：&nbsp;&nbsp;</span><em id="ul_busStopDetail_distance">4102</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li> -->
                <li><span>到站时间：&nbsp;&nbsp;</span><em id="ul_busStopDetail_time">已到站</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            </ul>
        </div>
    </div>
</div>
