<div class="poiinfo" id="ul_busStopDetail" style="z-index:999; ">
    <div class="box-top" id="ul_busStopDetail_name">
        沪城环路橄榄路
        <button type="button" class="box-close" onclick="require('t_Home').closeEventDetail()"></button>
    </div>
    <div class="boxcont clearfix">
        <div class="box-rightinfo">
            <ul>
                <li><span>线路：&nbsp;&nbsp;</span><em id="ul_busStopDetail_line">临港4路</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><span>方向：&nbsp;&nbsp;</span><em id="ul_busStopDetail_direction">反向</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><span>距离：&nbsp;&nbsp;</span><em id="ul_busStopDetail_distance">4102</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><span>时间：&nbsp;&nbsp;</span><em id="ul_busStopDetail_time">510</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            </ul>
        </div>
    </div>
</div>
