<div class="center-eventlist" style="z-index:999;">
  <div class="box-top" >
    <span>事件列表</span>
    <button type="button" class="box-close"  onclick="require('t_Home').closeCenterEventList();"></button>
  </div>
  <div class="center-event-tabbox clearfix" id="center-event-tabtour">
    <button type="button" class="center-event-tab active">近三天</button>
    <button type="button" class="center-event-tab">近一周</button>
    <button type="button" class="center-event-tab">近一月</button>
  </div>
  <div class="center-event-itembox">
    <ul class="center-event-ul scrolldiv" id="center-event-tourul" style="padding-right:.2rem;">
        <li class="yqsjlb-item clearfix">
          <div class="item-l"></div>
          <div class="item-r">
            <!-- <div>拍照时间：2019-03-20 10:49:32</div>
            <div>待处置<span>李立群</span></div>
            <div>事件详情：花柏路环湖西三路路口北侧疑似渣土车,车牌号:沪DB6977。</div> -->
          </div>
        </li>
    </ul>
  </div>
</div>
