<!-- 舆情分析 -->
<div id="left01_04" class="divbox divbox-ll clearfix yqfx" style="top:17.5rem; margin-bottom:0;z-index:990;display:block;">
    <h3 class="hastabbox">
        <div>舆情分析</div>
        <div class="charttabbox flex">
            <a class="charttab">正面<span style="color: #22990a;">(38.71%)</span></a>
            <a class="charttab">中性<span style="color: #2961f1;">(51.61%)</span></a>
            <a class="charttab">负面<span style="color: #fb5301;">(9.68%)</span></a>
        </div>
    </h3>
    <div class="divcont flex">
        <ul class="yqfx-ul">
            <li class=""><div>舆情信息数</div><span class="testAerial" id="yqxxs">755</span></li>
            <li class=""><div>热门话题数</div><span class="testAerial" id="rmhts">2</span></li>
        </ul>
        <div class="chartdiv yqfx-chartdiv"><div class="yqfx-chart" id="yqfx-chart"></div></div>
        <button class="chartzoomin" onclick="require('t_Home').loadBigChart('Left_First_04')" style="top:.8rem;"></button>
    </div>
</div>