<div id="left02_01" class="divbox divbox-lr " style="z-index:999;display:block;">
    <h3><div id="wrjsx">无人机</div></h3>
    <div class="divcont flex">
        <div class="wrj-left" style="width: 54%">
            <ul class="wrj-ul">
                <li class="wrj-li prism-player" id="tourhtml_wurenji01"></li>
            </ul>
            <button type="button" class="arrowbtn btnleft"></button>
            <button type="button" class="arrowbtn btnright"></button>
        </div>
        <div class="wrj-right chartdiv" style="width: 46%; height:2.7rem;">
            <div class="wrj-chart" id="wrj-chart"></div>
            <button class="chartzoomin" onclick="require('t_Echart').loadBigChart('Left_Second_02')" style="top:-.2rem;"></button>
        </div>
    </div>
</div>