<!-- 交通信息 -->
<div id="left02_03" class="divbox divbox-lr clearfix dkl-jtxx" style="top:13.5rem; margin-bottom:0;z-index:999;display:block;">
    <h3><div>交通信息</div></h3>
    <div class="divcont">
        <ul class="cgq-ul flex dkl-jtxxul">
            <li class="cgq-li">
                <div class="item-l"></div>
                <div class="item-r"><div class="item-r-name">进港车辆</div><div class="item-r-data testAerial" id="subway">61344</div></div>
            </li>
            <li class="cgq-li">
                <div class="item-l"></div>
                <div class="item-r"><div class="item-r-name">出港车辆</div><div class="item-r-data testAerial" id="car">71996</div></div>
            </li>
            <li class="cgq-li">
                <div class="item-l"></div>
                <div class="item-r"><div class="item-r-name">停车场</div><div class="item-r-data testAerial" id="park">672</div></div>
            </li>
        </ul>

        <div class="chartdiv jtxx-chartdiv" style="height:6.5rem;">
            <div class="jtxx-chart" id="jtxx-chart"></div>
            <button class="chartzoomin" onclick="require('t_Echart').loadBigChart('Left_Second_03')"></button>

            <div class="jtxx-tabbox">
                <!--<a class="jtxx-tab active">近一周</a>-->
                <a class="jtxx-tab active" id="ssll">近一周</a>
            </div>
        </div>
    </div>
</div>
