<!-- 游客画像 -->
<div id="left01_01" class="divbox divbox-ll clearfix" style="z-index:999;display:block;">
    <h3><div>游客画像</div></h3>
    <div class="divcont">
        <ul class="cgq-ul flex ykhx-ul">
            <li class="cgq-li">
                <div class="item-l"></div>
                <div class="item-r"><div class="item-r-name">男性</div><div class="item-r-data "><span class="testAerial">48</span>%</div></div>
            </li>
            <li class="cgq-li">
                <div class="item-l"></div>
                <div class="item-r"><div class="item-r-name">女性</div><div class="item-r-data"><span class="testAerial">42</span>%</div></div>
            </li>
            <li class="cgq-li">
                <div class="item-l"></div>
                <div class="item-r"><div class="item-r-name">本省</div><div class="item-r-data"><span class="testAerial">90</span>%</div></div>
            </li>
            <li class="cgq-li">
                <div class="item-l"></div>
                <div class="item-r"><div class="item-r-name">外省</div><div class="item-r-data"><span class="testAerial">10</span>%</div></div>
            </li>
        </ul>
    </div>
</div>