<!-- 人员车辆统计 -->
<div id="right01_01" class="divbox divbox-rl clearfix rycltj" style="z-index:999;display:block;">
    <h3><div id="renche">人员车辆统计</div></h3>
    <div class="divcont">
        <div class="rycltj-tabbox flex">
            <button class="active" id="ry">出入园人数统计</button>
            <button class=""id="dt">地铁人数统计</button>
            <button class="" id="jccl">进出临港车辆统计</button>
        </div>
        <!--<div class="jtxx-tabbox clearfix" id="rq">
            <a class="jtxx-tab active">2月2日</a>
            <a class="jtxx-tab active">2月3日</a>
            <a class="jtxx-tab">2月4日</a>
            <a class="jtxx-tab">2月5日</a>
            <a class="jtxx-tab">2月6日</a>
            <a class="jtxx-tab">2月7日</a>
            <a class="jtxx-tab">2月8日</a>
        </div>-->
        <div class="rycltj-datebox clearfix">
            <button type="button" class="rycltj-datebtn-pre"><img src="Content/images/rycltj-datebtn.png"></button>
            <div class="rycltj-datediv flex" id="rq">
                <a class="rycltj-datetab active">2月2日</a>
                <a class="rycltj-datetab">2月3日</a>
                <a class="rycltj-datetab">2月4日</a>
                <a class="rycltj-datetab">2月5日</a>
                <a class="rycltj-datetab">2月6日</a>
                <a class="rycltj-datetab">2月7日</a>
                <a class="rycltj-datetab">2月8日</a>
            </div>
            <button type="button" class="rycltj-datebtn-next"><img src="Content/images/rycltj-datebtn.png"></button>
        </div>
        <div class="chartdiv rycltj-chartdiv">
            <div class="rycltj-chart" id="rycltj-chart"></div>
            <button class="chartzoomin" onclick="require('t_Echart').loadBigChart('Right_First_01')"></button>
           
        </div>

    </div>
</div>