 <!-- 景区预警指标 -->
<div id="right02_01" class="divbox divbox-rr clearfix" style="z-index:999;display:block;">
    <!--<h3><div>景区预警指标</div></h3>
    <div class="divcont">
        <div class="yqyj-levelbox clearfix"style="overflow: hidden; border-radius: .3rem;">
            <img src="../Content/images/yqyj.png">
            <div class="yqyj-levelbg"></div>
        </div>
        <div class="yqyj-levelbox clearfix" style="overflow: visible;">
            <span class="yqyj-level yqyj-level1">正常</span>
            <span class="yqyj-level yqyj-level2">三级预警</span>
            <span class="yqyj-level yqyj-level3">二级预警</span>
            <span class="yqyj-level yqyj-level4">一级预警</span>
        </div>
    </div>-->
</div>