<!-- 景区事件统计 -->
<div id="right02_02" class="divbox divbox-rr clearfix yqsj tour-rs2" style="z-index:999;" >
    <h3><div id="jqsjtj">景区事件统计</div></h3>
    <div class="divcont">
        <div class="jtxx-tabbox">
            <a class="jtxx-tab active" id="jqsj_category" onclick="require('t_Home').jqsjtjClickEvent('category');">类型</a>
            <a class="jtxx-tab" id="jqsj_area" onclick="require('t_Home').jqsjtjClickEvent('area');">区域</a>
        </div>
        <div class="yqsj-tabitemdiv">
            <ul class="yqsj-tabitemul flex">
                <li class="yqsj-tabitem">
                    <div class="flex yqsj-div1" id="sjlxtotal">
                        <div class="">事件类型：<span class="testAerial">7</span>类</div>
                        <div class="">事件个数：<span class="testAerial">19</span>个</div>
                    </div>
                    <div class="scrolldiv yqsj-listbox">
                        <ul class="yqsj-list" id="sjlxList">
                            <li class="yqsj-item active">
                                <div class="yqsj-itemdiv"><span>001</span>大客流预警短信（<em class="testAerial">0</em>）</div>
                                <ol class="yqsj-itemol">
                                    <li class="active">R2路平均分布5号（鹰眼立杆）</li>
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                </ol>
                            </li>
                            <li class="yqsj-item">
                                <div class="yqsj-itemdiv"><span>002</span>大客流预警短信（<em class="testAerial">0</em>）</div>
                                <ol class="yqsj-itemol">
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                </ol>
                            </li>
                            <li class="yqsj-item">
                                <div class="yqsj-itemdiv"><span>003</span>大客流预警短信（<em class="testAerial">0</em>）</div>
                                <ol class="yqsj-itemol">
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                </ol>
                            </li>
                            <li class="yqsj-item">
                                <div class="yqsj-itemdiv"><span>004</span>大客流预警短信（<em class="testAerial">0</em>）</div>
                                <ol class="yqsj-itemol">
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                </ol>
                            </li>
                            <li class="yqsj-item">
                                <div class="yqsj-itemdiv"><span>005</span>大客流预警短信（<em class="testAerial">0</em>）</div>
                                <ol class="yqsj-itemol">
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                </ol>
                            </li>
                            <li class="yqsj-item">
                                <div class="yqsj-itemdiv"><span>006</span>大客流预警短信（<em class="testAerial">0</em>）</div>
                                <ol class="yqsj-itemol">
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                </ol>
                            </li>
                            <li class="yqsj-item">
                                <div class="yqsj-itemdiv"><span>007</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                <ol class="yqsj-itemol">
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                </ol>
                            </li>
                            <li class="yqsj-item">
                                <div class="yqsj-itemdiv"><span>008</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                <ol class="yqsj-itemol">
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                </ol>
                            </li>
                            <li class="yqsj-item">
                                <div class="yqsj-itemdiv"><span>009</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                <ol class="yqsj-itemol">
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                </ol>
                            </li>
                            <li class="yqsj-item">
                                <div class="yqsj-itemdiv"><span>010</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                <ol class="yqsj-itemol">
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="yqsj-tabitem">
                    <div class="flex yqsj-div1" id="sjqytotal">
                        <div class="">事件类型：<span class="testAerial">7</span>类</div>
                        <div class="">事件个数：<span class="testAerial">19</span>个</div>
                    </div>
                    <div class="scrolldiv yqsj-listbox">
                        <ul class="yqsj-list" id="sjqyList">
                            <li class="yqsj-item active">
                                <div class="yqsj-itemdiv"><span>001</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                <ol class="yqsj-itemol">
                                    <li class="active">R2路平均分布5号（鹰眼立杆）</li>
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                </ol>
                            </li>
                            <li class="yqsj-item">
                                <div class="yqsj-itemdiv"><span>002</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                <ol class="yqsj-itemol">
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                </ol>
                            </li>
                            <li class="yqsj-item">
                                <div class="yqsj-itemdiv"><span>003</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                <ol class="yqsj-itemol">
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                </ol>
                            </li>
                            <li class="yqsj-item">
                                <div class="yqsj-itemdiv"><span>004</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                <ol class="yqsj-itemol">
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                </ol>
                            </li>
                            <li class="yqsj-item">
                                <div class="yqsj-itemdiv"><span>005</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                <ol class="yqsj-itemol">
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                </ol>
                            </li>
                            <li class="yqsj-item">
                                <div class="yqsj-itemdiv"><span>006</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                <ol class="yqsj-itemol">
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                </ol>
                            </li>
                            <li class="yqsj-item">
                                <div class="yqsj-itemdiv"><span>007</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                <ol class="yqsj-itemol">
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                </ol>
                            </li>
                            <li class="yqsj-item">
                                <div class="yqsj-itemdiv"><span>008</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                <ol class="yqsj-itemol">
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                </ol>
                            </li>
                            <li class="yqsj-item">
                                <div class="yqsj-itemdiv"><span>009</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                <ol class="yqsj-itemol">
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                </ol>
                            </li>
                            <li class="yqsj-item">
                                <div class="yqsj-itemdiv"><span>010</span>大客流预警短信（<em class="testAerial">2</em>）</div>
                                <ol class="yqsj-itemol">
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                    <li class="">R2路平均分布5号（鹰眼立杆）</li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

