<!-- 中间 一列 -->
<!-- 楼栋信息 -->
<div class="loudong" id="center01_01">
    <div class="loudong-top"><span class="testAerial" id="buildingName_detail">15</span>号<span class="testAerial">A</span>栋</div>
    <div class="loudong-div">
        <button class="box-close" onclick="require('g_Home').closeBuildingDetail();"></button>
        <ul class="loudong-ul">      
            <li class="loudong-li"><div>面积：</div><span><em class="testAerial" id="buildingArea_detail">1200</em>㎡</span></li>
            <li class="loudong-li">
                <div>楼层：</div>
                    <span class="loudong-select" id="buildingFloors_detail"></span>
                <!--<select class="loudong-select" id="buildingFloors_detail">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>-->
                <span class="select-valuespan">层</span>
            </li>
            <li class="loudong-li"><div>企业：</div><span><em class="testAerial" id="companyCount_detail">18</em>家</span></li>
            <li class="loudong-li"><div>入住率：</div><span><em class="testAerial" id="occupancyRate_detail">90</em>%</span></li>
        </ul>
    </div>
    <div class="loudong-div loudong-div-floor">
        <ul class="loudong-ul clearfix" id="loudong-ul">
            <!--<li class="loudong-floor"><span class="testAerial">1</span>楼</li>
            <li class="loudong-floor active"><span class="testAerial">2</span>楼</li>
            <li class="loudong-floor"><span class="testAerial">3</span>楼</li>
            <li class="loudong-floor"><span class="testAerial">4</span>楼</li>
            <li class="loudong-floor"><span class="testAerial">5</span>楼</li>
            <li class="loudong-floor"><span class="testAerial">6</span>楼</li>-->
        </ul>
    </div>
</div>
