   <!-- 企业综合评分雷达图 -->
<div id="left02_01" class="divbox divbox-lr clearfix" style="z-index:999;display:block;">
    <h3><div>企业综合评分雷达图</div></h3>
    <div class="divcont flex qyzhpfldt-cont">
        <div class="chartdiv qyzhpfldt-chartdiv" style="height: 4rem;">
            <div class="qyzhpfldt-chart" id="qyzhpfldt-chart"></div>
            <button class="chartzoomin"></button>
        </div>
        <a class="qyzhpfldt-title"><span>综合指数</span></a>
        <a class="qyzhpfldt-title"><span>异动指数</span></a>
    </div>
</div>