<!-- 企业基本信息 -->
<div id="left02_02" class="divbox divbox-lr clearfix" style="top: 8.5rem;z-index:999;display:block;">
    <h3><div>企业基本信息</div></h3>
    <div class="divcont">
        <ul class="qyjbxx-list" id="Industry_CompanyInfo">
            <li class="qyjbxx-li"><div>公司名称：</div><span>上海创新科技有限公司</span></li>
            <li class="qyjbxx-li"><div>成立日期：</div><span>2012-02-03</span></li>
            <li class="qyjbxx-li"><div>公司类型：</div><span>新一代信息技术产业</span></li>
            <li class="qyjbxx-li"><div>注册资本：</div><span>1000万</span></li>
            <li class="qyjbxx-li"><div>所属行业：</div><span>创新</span></li>
            <li class="qyjbxx-li"><div>经营范围：</div><span>机器人</span></li>
            <li class="qyjbxx-li"><div>分支机构数：</div><span>5</span></li>
            <li class="qyjbxx-li"><div>对外投资数：</div><span>10</span></li>
            <li class="qyjbxx-li"><div>企业标签：</div><span>上市</span></li>
        </ul>
    </div>
</div>