
@{
    ViewBag.Title = "ApiTest";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta charset="utf-8" />
    <title></title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <input id="Button1" type="button" value="数据请求" onclick="btnclick()" /><br><br>
    <!--测试git提交-->
</body>
</html>

<script>
 var url = "http://192.168.3.107:8090/"
 function btnclick() {
    $.ajax({
        url: "http://192.168.3.107:8090/test/name",
        type: "get",
        data: { name: "string", },
        success: function (data) {;
            var result = data;
            console.log(result)
        },
        error: function (data) {
            console.log(data)
        }
    })

}
</script>

